.navbar-collapse .nav>li>a{
	color: #afb4b5;
	padding: 15px 17px;
	font-size: 15px;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-collapse .nav > li >a:hover,
 .navbar-collapse .nav>li>a:active,
 .dropdown-menu,.dropdown-menu>li>a:hover, 
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a{
	background-color:#EC894D;
	color: #ffffff;
	border:none;
}

.dropdown-menu>li>a,.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
{
	padding: 10px 17px 12px;
	font-size: 14px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active
{
	background-color: #DC7D44;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}