.logo {
    height: 90px;
    width: 236px;
}

.tp-button.green.custom {
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    padding: 10px 15px;
    letter-spacing: 1px;
    background: #ec894d;
}

.header-wrapper {
    background-color: #252A2B;
}

.header-wrapper, #contact-email, #contact-email a, .user-nav a, .social_networks li a {
    color: #929A9B;
}

    #contact-email a:hover, .user-nav a:hover {
        color: #b0b8b9;
    }

#header-top, .social_networks li a, .user-nav a {
    border-color: #343A3B;
}

.main-menu ul li a {
    color: #afb4b5;
}

.main-menu ul li.current-menu-ancestor > a, .main-menu ul li.current-menu-parent > a, .main-menu ul li.current-menu-item > a, .main-menu ul li.current_page_item > a, .main-menu ul li:hover > a, .main-menu ul li ul, .main-menu ul li ul li ul {
    background-color: #ec894d;
}

.main-menu ul li.current-menu-ancestor > a, .main-menu ul li.current-menu-parent > a, .main-menu ul li.current-menu-item > a, .main-menu ul li.current_page_item > a, .main-menu ul li:hover > a, .main-menu ul li ul, .main-menu ul li ul li a, .main-menu ul li ul li ul, .main-menu ul li ul li ul li a {
    color: #ffffff;
}

.main-menu ul li ul li:hover > a, .main-menu ul li ul li ul li:hover > a {
    background-color: #dc7d44;
}



.contact-number {
    color: #e7eff7;
}

.contact-number .fa-phone {
    background-color: #37b3d9;
}

.pledge {
    font-stretch: expanded;
    font-size: larger;
}

.sidebar {
    margin-top: 53px;
}

.fb {
    max-width: 270px;
}

.gallery-4-columns {
    
  }


.page-edit{
 margin-bottom: 0px; 
}

.child-detail, ul > li {
    list-style-type: none;
}
.child-detail > ul > li {
    border-bottom: 1px solid #f1f1f1;
}