@model IEnumerable<Deed.Data.Objects.Student>
@{
    ViewBag.Title = "Deed A Day";
}
<!-- START REVOLUTION SLIDER 4.2.5 fullwidth mode -->

<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#dedede;padding:0px;margin-top:0px;margin-bottom:0px;max-height:550px;">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:550px;height:550;">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="900">
                <!-- MAIN IMAGE -->
                <img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide44.jpg" alt="bg_slide_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfr"
                     data-x="700"
                     data-y="75"
                     data-speed="900"
                     data-start="900"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 2;">
                    <img class="img-circular" src="~/Content/images/SliderImg/s1.jpg" alt="">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption realhomes_large_white skewfromleft tp-resizeme"
                     data-x="100"
                     data-y="140"
                     data-speed="800"
                     data-start="800"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                    Deed A Day
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption small_text skewfromleft tp-resizeme"
                     data-x="102"
                     data-y="205"
                     data-speed="600"
                     data-start="1100"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 4; max-width: 40%; max-height: auto; white-space: pre;">
                    Coffee a day cost more than a Pound , 
                    Deed a Day cost less than a coffee a day, 
                    1 Pound *365 Days can help educating a child (Schooling +Uniform +Books ).
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption lfb tp-resizeme"
                     data-x="102"
                     data-y="305"
                     data-speed="900"
                     data-start="1400"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*<a href='http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/' class='tp-button green custom small'>View Details</a>*@
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white_bg_text lfb tp-resizeme"
                     data-x="788"
                     data-y="356"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    Complete 12 Years Schooling
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption roundedtext lfb tp-resizeme"
                     data-x="668"
                     data-y="305"
                     data-speed="600"
                     data-start="1700"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span id="pound">&#163;</span>3,600
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                <!-- MAIN IMAGE -->
                <img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide11.jpg" alt="bg_slide_2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_bold_black_text sft tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="60"
                     data-speed="300"
                     data-start="500"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <p class="thickwhite">Deed A Day</p>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption normal_text_dark sft tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="110"
                     data-speed="300"
                     data-start="800"
                     data-easing="Quad.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 3; max-width: 850px; max-height: auto; white-space: normal;">
                    <p class ="thickwhite">"Big Problem ,Big Mission ,Small Deed"</p>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfl"
                     data-x="center" data-hoffset="-250"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1400"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 4;">
                    <img class="img-circular" src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide22.jpg" style="height:221px;width:221px;" alt="">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb"
                     data-x="center" data-hoffset="0"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1100"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5;">
                    <img class="img-circular" src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide33.jpg" style="height:221px;width:221px;" alt="">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfr"
                     data-x="center" data-hoffset="250"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1700"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 6;">
                    <img class="img-circular" src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide44.jpg" style="height:221px;width:221px;" alt="">
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption black randomrotate tp-resizeme"
                     data-x="center" data-hoffset="-100"
                     data-y="center" data-voffset="-70"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*<a href='http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/' class='tp-button green custom small'>View Details</a>*@
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption large_bold_black_text customin tp-resizeme"
                     data-x="center" data-hoffset="118"
                     data-y="center" data-voffset="-71"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="300"
                     data-start="2300"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*$480,000*@
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                <!-- MAIN IMAGE -->
                <img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide22.jpg" alt="bg_slide_3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl"
                     data-x="150"
                     data-y="70"
                     data-speed="500"
                     data-start="500"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 2;">
                    <img class="img-circular" src="~/Content/images/SliderImg/Gaurav Pandey Rural.jpg" alt="" data-ww="400" data-hh="400">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_bold_white_heading lft tp-resizeme"
                     data-x="596"
                     data-y="120"
                     data-speed="400"
                     data-start="800"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: pre;">
                    Create
                    Real Impact
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfb tp-resizeme"
                     data-x="600"
                     data-y="370"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*<a href='http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/' class='tp-button green custom small'>View Details</a>*@
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_text lfr tp-resizeme"
                     data-x="600"
                     data-y="265"
                     data-speed="400"
                     data-start="1700"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5; max-width: 400px; max-height: auto; white-space: normal;">
                    @*Your Deed A Day,Your Community,Your Impact*@
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_bold_price_text lfb tp-resizeme"
                     data-x="286"
                     data-y="390"
                     data-speed="300"
                     data-start="1400"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*$480,000*@
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();
    var revapi1;

    tpj(document).ready(function () {

        if (tpj('#rev_slider_1_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_1_1');
        else
            revapi1 = tpj('#rev_slider_1_1').show().revolution(
             {
                 dottedOverlay: "none",
                 delay: 6000,
                 startwidth: 1170,
                 startheight: 550,
                 hideThumbs: 200,

                 thumbWidth: 100,
                 thumbHeight: 50,
                 thumbAmount: 3,

                 navigationType: "none",
                 navigationArrows: "solo",
                 navigationStyle: "round",

                 touchenabled: "on",
                 onHoverStop: "on",

                 navigationHAlign: "center",
                 navigationVAlign: "bottom",
                 navigationHOffset: 0,
                 navigationVOffset: 20,

                 soloArrowLeftHalign: "left",
                 soloArrowLeftValign: "center",
                 soloArrowLeftHOffset: 20,
                 soloArrowLeftVOffset: 0,

                 soloArrowRightHalign: "right",
                 soloArrowRightValign: "center",
                 soloArrowRightHOffset: 20,
                 soloArrowRightVOffset: 0,

                 shadow: 0,
                 fullWidth: "on",
                 fullScreen: "off",

                 spinner: "spinner3",

                 stopLoop: "off",
                 stopAfterLoops: -1,
                 stopAtSlide: -1,


                 shuffle: "off",

                 autoHeight: "off",
                 forceFullWidth: "off",


                 hideThumbsOnMobile: "off",
                 hideBulletsOnMobile: "off",
                 hideArrowsOnMobile: "off",
                 hideThumbsUnderResolution: 0,

                 hideSliderAtLimit: 0,
                 hideCaptionAtLimit: 768,
                 hideAllCaptionAtLilmit: 0,
                 startWithSlide: 0,
                 videoJsPath: "http://alt-realhomes.inspirythemes.com/wp-content/plugins/revslider/rs-plugin/videojs/",
                 fullScreenOffsetContainer: ""
             });

    });	//ready

</script>

<style type="text/css">
    #rev_slider_1_1_wrapper .tp-loader.spinner3 div {
        background-color: #fff !important;
    }
</style>
<!-- END REVOLUTION SLIDER -->
@*@Html.Partial("_slider")*@
@Html.Partial("_searchStudent")
@Html.Partial("_content")







