@model IEnumerable<Deed.Data.Objects.Student>
@{
    ViewBag.Title = "Deed A Day";
}
<!-- START REVOLUTION SLIDER 4.2.5 fullwidth mode -->

<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#dedede;padding:0px;margin-top:0px;margin-bottom:0px;max-height:550px;">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:550px;height:550;">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="900">
                <!-- MAIN IMAGE -->
                <img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide44.jpg" alt="bg_slide_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfr"
                     data-x="700"
                     data-y="75"
                     data-speed="900"
                     data-start="900"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 2;">
                    <div class="circulabox"><img class="img-circular" src="~/Content/images/SliderImg/s1.jpg" alt=""></div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption realhomes_large_white skewfromleft tp-resizeme"
                     data-x="100"
                     data-y="140"
                     data-speed="800"
                     data-start="800"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">
                    Deed A Day
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption small_text skewfromleft tp-resizeme"
                     data-x="102"
                     data-y="205"
                     data-speed="600"
                     data-start="1100"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 4; max-width: 40%; max-height: auto; white-space: pre;">
                    Coffee a day cost more than a Pound , 
                    Deed a Day cost less than a coffee a day, 
                    1 Pound *365 Days can help educating a child (Schooling +Uniform +Books ).
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption lfb tp-resizeme"
                     data-x="102"
                     data-y="305"
                     data-speed="900"
                     data-start="1400"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*<a href='http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/' class='tp-button green custom small'>View Details</a>*@
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_white_bg_text lfb tp-resizeme"
                     data-x="788"
                     data-y="356"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    Complete 12 Years Schooling
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption roundedtext lfb tp-resizeme"
                     data-x="668"
                     data-y="305"
                     data-speed="600"
                     data-start="1700"
                     data-easing="Sine.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <span id="pound">&#163;</span>3,600
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                <!-- MAIN IMAGE -->
                <img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide11.jpg" alt="bg_slide_2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption large_bold_black_text sft tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="60"
                     data-speed="300"
                     data-start="500"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">
                    <p class="thickwhite">Deed A Day</p>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption normal_text_dark sft tp-resizeme"
                     data-x="center" data-hoffset="0"
                     data-y="110"
                     data-speed="300"
                     data-start="800"
                     data-easing="Quad.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 3; max-width: 850px; max-height: auto; white-space: normal;">
                    <p class ="thickwhite">"Big Problem ,Big Mission ,Small Deed"</p>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfl"
                     data-x="center" data-hoffset="-250"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1400"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 4;">
                    <div class="circulabox2"><img class="img-circular" src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide22.jpg" style="height:221px;width:221px;" alt=""></div>
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfb"
                     data-x="center" data-hoffset="0"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1100"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5;">
                    <div class="circulabox2"><img class="img-circular" src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide33.jpg" style="height:221px;width:221px;" alt=""></div>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfr"
                     data-x="center" data-hoffset="250"
                     data-y="bottom" data-voffset="-50"
                     data-speed="300"
                     data-start="1700"
                     data-easing="Cubic.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 6;">
                    <div class="circulabox2"><img class="img-circular" src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide44.jpg" style="height:221px;width:221px;" alt=""></div>
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption black randomrotate tp-resizeme"
                     data-x="center" data-hoffset="-100"
                     data-y="center" data-voffset="-70"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*<a href='http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/' class='tp-button green custom small'>View Details</a>*@
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption large_bold_black_text customin tp-resizeme"
                     data-x="center" data-hoffset="118"
                     data-y="center" data-voffset="-71"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="300"
                     data-start="2300"
                     data-easing="Power3.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*$480,000*@
                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                <!-- MAIN IMAGE -->
                <img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide22.jpg" alt="bg_slide_3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lfl"
                     data-x="150"
                     data-y="70"
                     data-speed="500"
                     data-start="500"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 2;">
                    <div class="circulabox"><img class="img-circular" src="~/Content/images/SliderImg/Gaurav Pandey Rural.jpg" alt="" data-ww="400" data-hh="400"></div>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption large_bold_white_heading lft tp-resizeme"
                     data-x="596"
                     data-y="120"
                     data-speed="400"
                     data-start="800"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 3; max-width: auto; max-height: auto; white-space: pre;">
                    Create
                    Real Impact
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption lfb tp-resizeme"
                     data-x="600"
                     data-y="370"
                     data-speed="300"
                     data-start="2000"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*<a href='http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/' class='tp-button green custom small'>View Details</a>*@
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption small_text lfr tp-resizeme"
                     data-x="600"
                     data-y="265"
                     data-speed="400"
                     data-start="1700"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 5; max-width: 400px; max-height: auto; white-space: normal;">
                    @*Your Deed A Day,Your Community,Your Impact*@
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption medium_bold_price_text lfb tp-resizeme"
                     data-x="286"
                     data-y="390"
                     data-speed="300"
                     data-start="1400"
                     data-easing="Quart.easeInOut"
                     data-splitin="none"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     data-endspeed="300"
                     style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
                    @*$480,000*@
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();
    var revapi1;

    tpj(document).ready(function () {

        if (tpj('#rev_slider_1_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_1_1');
        else
            revapi1 = tpj('#rev_slider_1_1').show().revolution(
             {
                 dottedOverlay: "none",
                 delay: 6000,
                 startwidth: 1170,
                 startheight: 550,
                 hideThumbs: 200,

                 thumbWidth: 100,
                 thumbHeight: 50,
                 thumbAmount: 3,

                 navigationType: "none",
                 navigationArrows: "solo",
                 navigationStyle: "round",

                 touchenabled: "on",
                 onHoverStop: "on",

                 navigationHAlign: "center",
                 navigationVAlign: "bottom",
                 navigationHOffset: 0,
                 navigationVOffset: 20,

                 soloArrowLeftHalign: "left",
                 soloArrowLeftValign: "center",
                 soloArrowLeftHOffset: 20,
                 soloArrowLeftVOffset: 0,

                 soloArrowRightHalign: "right",
                 soloArrowRightValign: "center",
                 soloArrowRightHOffset: 20,
                 soloArrowRightVOffset: 0,

                 shadow: 0,
                 fullWidth: "on",
                 fullScreen: "off",

                 spinner: "spinner3",

                 stopLoop: "off",
                 stopAfterLoops: -1,
                 stopAtSlide: -1,


                 shuffle: "off",

                 autoHeight: "off",
                 forceFullWidth: "off",


                 hideThumbsOnMobile: "off",
                 hideBulletsOnMobile: "off",
                 hideArrowsOnMobile: "off",
                 hideThumbsUnderResolution: 0,

                 hideSliderAtLimit: 0,
                 hideCaptionAtLimit: 768,
                 hideAllCaptionAtLilmit: 0,
                 startWithSlide: 0,
                 videoJsPath: "http://alt-realhomes.inspirythemes.com/wp-content/plugins/revslider/rs-plugin/videojs/",
                 fullScreenOffsetContainer: ""
             });

    });	//ready

</script>

<style type="text/css">
    #rev_slider_1_1_wrapper .tp-loader.spinner3 div {
        background-color: #fff !important;
    }
</style>
<!-- END REVOLUTION SLIDER -->
@*@Html.Partial("_slider")*@
@Html.Partial("_searchStudent")
@Html.Partial("_content")

<div class="container contents">
    <div class="row">

        <div class="span12">

            <!-- Main Content -->
            <div class="main">
                <section id="home-idx-search" class="clearfix dsidx-widget-search">
                    <h3 class="home-widget-label">Student Search</h3>			<div class="dsidx-search-widget dsidx-widget">
                        <form action="http://alt-realhomes.inspirythemes.com/idx/" method="get" onsubmit="return dsidx_w.searchWidget.validate();">
                            <select name="idx-q-PropertyTypes" class="dsidx-search-widget-propertyTypes">
                                <option value="">- All property types -</option>
                                <option value="1030">Residential / All</option>
                                <option value="1031">Residential / Condo</option>
                                <option value="1032">Residential / Single Family</option>
                            </select>
                            <label id="idx-search-invalid-msg" style="color:red"></label>				<select id="idx-q-Cities" name="idx-q-Cities" class="idx-q-Location-Filter">
                                <option value="">- City -</option>
                                <option value="Irvine">Irvine</option>
                                <option value="Laguna Beach">Laguna Beach</option>
                                <option value="Laguna Woods">Laguna Woods</option>
                                <option value="Lake Forest">Lake Forest</option>
                                <option value="Mission Viejo">Mission Viejo</option>
                                <option value="Newport Beach">Newport Beach</option>
                            </select>				<select id="idx-q-Communities" name="idx-q-Communities" class="idx-q-Location-Filter">
                                <option value="">- Community -</option>
                                <option value="Agua Dulce">Agua Dulce</option>
                                <option value="Anaheim East Of Harbor">Anaheim East Of Harbor</option>
                                <option value="Anaheim West Of Harbor">Anaheim West Of Harbor</option>
                                <option value="Artesia">Artesia</option>
                                <option value="Bellflower South Of 91 Frwy (rf">Bellflower South Of 91 Frwy (rf</option>
                                <option value="Belmont Shore/Park,Naples,Marin">Belmont Shore/Park,Naples,Marin</option>
                                <option value="Big Bear Lake">Big Bear Lake</option>
                                <option value="California City">California City</option>
                                <option value="Camarillo">Camarillo</option>
                                <option value="Capistrano Beach">Capistrano Beach</option>
                                <option value="Catalina">Catalina</option>
                                <option value="Central Simi">Central Simi</option>
                                <option value="Central South Sfv">Central South Sfv</option>
                                <option value="Compton N Of Rosecrans, E Of Ce">Compton N Of Rosecrans, E Of Ce</option>
                                <option value="Compton S Of Rosecrans, E Of Ce">Compton S Of Rosecrans, E Of Ce</option>
                                <option value="Corona">Corona</option>
                                <option value="Coto De Caza">Coto De Caza</option>
                                <option value="Country Club Park">Country Club Park</option>
                                <option value="Cuddy Valley">Cuddy Valley</option>
                                <option value="Del Obispo">Del Obispo</option>
                                <option value="Desert Hot Springs">Desert Hot Springs</option>
                                <option value="Downtown Area, Alamitos Beach (">Downtown Area, Alamitos Beach (</option>
                                <option value="East Bluff - Harbor View">East Bluff - Harbor View</option>
                                <option value="East North Sfv">East North Sfv</option>
                                <option value="East Simi">East Simi</option>
                                <option value="East South Sfv">East South Sfv</option>
                                <option value="Frazier Park">Frazier Park</option>
                                <option value="Fullerton">Fullerton</option>
                                <option value="Garden Grove E Of Euclid, W Of">Garden Grove E Of Euclid, W Of</option>
                                <option value="Hemet/San Jacinto">Hemet/San Jacinto</option>
                                <option value="Indio South Of East Valley (314">Indio South Of East Valley (314</option>
                                <option value="Ladera Ranch">Ladera Ranch</option>
                                <option value="Laguna Canyon">Laguna Canyon</option>
                                <option value="Laguna Village">Laguna Village</option>
                                <option value="Lake Elsinore North">Lake Elsinore North</option>
                                <option value="Lancaster">Lancaster</option>
                                <option value="Lennox">Lennox</option>
                                <option value="Mammoth Lakes">Mammoth Lakes</option>
                                <option value="N Of Bolsa, S Of Gg, E Of Brook">N Of Bolsa, S Of Gg, E Of Brook</option>
                                <option value="Newhall 1">Newhall 1</option>
                                <option value="Newport Coast">Newport Coast</option>
                                <option value="North Laguna">North Laguna</option>
                                <option value="North San Diego County">North San Diego County</option>
                                <option value="Northeast Downey, N Of Fireston">Northeast Downey, N Of Fireston</option>
                                <option value="Northwest Huntington Beach">Northwest Huntington Beach</option>
                                <option value="Orange &amp; Garden Grove, E Of Har">Orange &amp; Garden Grove, E Of Har</option>
                                <option value="Orange, Orange Park Acres E Of">Orange, Orange Park Acres E Of</option>
                                <option value="Out Of Area">Out Of Area</option>
                                <option value="Palmdale">Palmdale</option>
                                <option value="Pasadena Nw">Pasadena Nw</option>
                                <option value="Perris">Perris</option>
                                <option value="Pine Mountain Club">Pine Mountain Club</option>
                                <option value="Pinon Pines">Pinon Pines</option>
                                <option value="Rancho Santa Margarita Central">Rancho Santa Margarita Central</option>
                                <option value="Riverside">Riverside</option>
                                <option value="Santa Fe Springs">Santa Fe Springs</option>
                                <option value="Seal Beach">Seal Beach</option>
                                <option value="South Laguna">South Laguna</option>
                                <option value="South Torrance">South Torrance</option>
                                <option value="Valencia Northpark">Valencia Northpark</option>
                                <option value="Ventura">Ventura</option>
                                <option value="West Covina">West Covina</option>
                                <option value="West Huntington Beach">West Huntington Beach</option>
                                <option value="West North Sfv">West North Sfv</option>
                                <option value="West South Sfv">West South Sfv</option>
                                <option value="Westside">Westside</option>
                            </select>				<select id="idx-q-TractIdentifiers" name="idx-q-TractIdentifiers" class="idx-q-Location-Filter">
                                <option value="">- Tract -</option>
                                <option value="-ROSSITER RANCH (CUST)">-ROSSITER RANCH (CUST)</option>
                                <option value="Amarante (AMRN)">Amarante (AMRN)</option>
                                <option value="Balboa (One Ford Road) (OFBB)">Balboa (One Ford Road) (OFBB)</option>
                                <option value="Belmont Shore (BSD)">Belmont Shore (BSD)</option>
                                <option value="Custom ROSSITER RANCH (CUST)">Custom ROSSITER RANCH (CUST)</option>
                                <option value="Custom (CUST)">Custom (CUST)</option>
                                <option value="CUSTOM REMODEL (CUST)">CUSTOM REMODEL (CUST)</option>
                                <option value="DESERT ROSE (OTHR)">DESERT ROSE (OTHR)</option>
                                <option value="Downtown Area (DOWN)">Downtown Area (DOWN)</option>
                                <option value="Emerald Bay (EB)">Emerald Bay (EB)</option>
                                <option value="Fairway Oaks (FO)">Fairway Oaks (FO)</option>
                                <option value="Happy Valley (HPVY)">Happy Valley (HPVY)</option>
                                <option value="Heller and Hayes Tract (AB)">Heller and Hayes Tract (AB)</option>
                                <option value="Hidden Meadows (905)">Hidden Meadows (905)</option>
                                <option value="Leisure World (OTHR)">Leisure World (OTHR)</option>
                                <option value="Mobile/Modular/Manufactured (MMM)">Mobile/Modular/Manufactured (MMM)</option>
                                <option value="Montara (Darrah) (262)">Montara (Darrah) (262)</option>
                                <option value="Naples (NA)">Naples (NA)</option>
                                <option value="North Trail Ranch (NOTR)">North Trail Ranch (NOTR)</option>
                                <option value="Other (OTHR)">Other (OTHR)</option>
                                <option value="Pelican Point (NCPP)">Pelican Point (NCPP)</option>
                                <option value="RAMONA SUNRISE (OTHR)">RAMONA SUNRISE (OTHR)</option>
                                <option value="Sherborne (SHER)">Sherborne (SHER)</option>
                                <option value="South Laguna Bluffs (SLB)">South Laguna Bluffs (SLB)</option>
                                <option value="Starlight Estates (OTHR)">Starlight Estates (OTHR)</option>
                                <option value="Terramonte (TEM)">Terramonte (TEM)</option>
                                <option value="THE COLLECTION (000000)">THE COLLECTION (000000)</option>
                                <option value="Unknown (OTHR)">Unknown (OTHR)</option>
                                <option value="Upper Diamond (UD)">Upper Diamond (UD)</option>
                                <option value="Village Walk (Copperhill) (VLWK)">Village Walk (Copperhill) (VLWK)</option>
                                <option value="Westside/North of Willow (WNW)">Westside/North of Willow (WNW)</option>
                                <option value="Willmore District (WM)">Willmore District (WM)</option>
                            </select>				<select id="idx-q-ZipCodes" name="idx-q-ZipCodes" class="idx-q-Location-Filter">
                                <option value="">- Zip -</option>
                                <option value="92602">92602</option>
                                <option value="92603">92603</option>
                                <option value="92604">92604</option>
                                <option value="92606">92606</option>
                                <option value="92610">92610</option>
                                <option value="92612">92612</option>
                                <option value="92614">92614</option>
                                <option value="92618">92618</option>
                                <option value="92620">92620</option>
                                <option value="92630">92630</option>
                                <option value="92637">92637</option>
                                <option value="92651">92651</option>
                                <option value="92653">92653</option>
                                <option value="92660">92660</option>
                                <option value="92661">92661</option>
                                <option value="92663">92663</option>
                                <option value="92679">92679</option>
                                <option value="92691">92691</option>
                                <option value="92692">92692</option>
                                <option value="92707">92707</option>
                            </select>				<label for="idx-q-MlsNumbers">MLS #</label>
                            <input id="idx-q-MlsNumbers" name="idx-q-MlsNumbers" type="text" class="dsidx-mlsnumber">				<label for="idx-q-PriceMin">Price</label>
                            <input id="idx-q-PriceMin" name="idx-q-PriceMin" type="text" class="dsidx-price" placeholder="min price">
                            <input id="idx-q-PriceMax" name="idx-q-PriceMax" type="text" class="dsidx-price" placeholder="max price">						<label for="idx-q-ImprovedSqFtMin">Size</label>
                            <input id="idx-q-ImprovedSqFtMin" name="idx-q-ImprovedSqFtMin" type="text" class="dsidx-improvedsqft" placeholder="min sqft">				<label for="idx-q-BedsMin">Beds</label>
                            <input id="idx-q-BedsMin" name="idx-q-BedsMin" type="text" class="dsidx-beds" placeholder="min bedrooms">
                            <label for="idx-q-BathsMin">Baths</label>
                            <input id="idx-q-BathsMin" name="idx-q-BathsMin" type="text" class="dsidx-baths" placeholder="min bathrooms">
                            <div class="dsidx-search-button search-form">
                                <input type="submit" class="submit real-btn" value="Search for properties">
                            </div>
                        </form>
                    </div>
                </section>
                
                @Html.Action("Query") @*student section*@
                <section class="featured-properties-carousel clearfix">
                    <div class="narrative">
                        <h3>Featured Projects</h3>
                        <p>View a list of Featured Projects.</p>
                    </div>
                    <div class="carousel es-carousel-wrapper">
                        <div class="es-carousel">
                            <ul class="clearfix" style="width: 1925px; margin-left: 0px;">
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-10-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/"> Know More </a> </p>
                                    @*<span class="price">$3,850 Per Month</span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/700-front-street-key-west-fl/" title="700 Front Street, Key West, FL">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-08-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="700 Front Street, Key West, FL" title="700 Front Street, Key West, FL">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/700-front-street-key-west-fl/" title="700 Front Street, Key West, FL">700 Front Street, Key West, FL</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/700-front-street-key-west-fl/"> Know More </a> </p>
                                    @*<span class="price">$850,000 </span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/401-biscayne-boulevard-miami/" title="401 Biscayne Boulevard, Miami">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-02-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="401 Biscayne Boulevard, Miami" title="401 Biscayne Boulevard, Miami">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/401-biscayne-boulevard-miami/" title="401 Biscayne Boulevard, Miami">401 Biscayne Boulevard, Miami</a></h4>
                                    <p>Nam liber tempor cum soluta nobis eleifend option… <a href="http://alt-realhomes.inspirythemes.com/property/401-biscayne-boulevard-miami/"> Know More </a> </p>
                                    @*<span class="price">$3,250 Per Month</span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/3015-grand-avenue-cocowalk/" title="3015 Grand Avenue, CocoWalk">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-06-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="3015 Grand Avenue, CocoWalk" title="3015 Grand Avenue, CocoWalk">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/3015-grand-avenue-cocowalk/" title="3015 Grand Avenue, CocoWalk">3015 Grand Avenue, CocoWalk</a></h4>
                                    <p>Ut wisi enim ad minim veniam, quis nostrud… <a href="http://alt-realhomes.inspirythemes.com/property/3015-grand-avenue-cocowalk/"> Know More </a> </p>
                                    @*<span class="price">$4,350 Per Month</span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/" title="1200 Anastasia Avenue, Coral Gables">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-04-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="1200 Anastasia Avenue, Coral Gables" title="1200 Anastasia Avenue, Coral Gables">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/" title="1200 Anastasia Avenue, Coral Gables">1200 Anastasia Avenue, Coral Gables</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/"> Know More </a> </p>
                                    @*<span class="price">$625,000 </span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/60-merrick-way-miami/" title="60 Merrick Way, Miami">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-07-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="60 Merrick Way, Miami" title="60 Merrick Way, Miami">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/60-merrick-way-miami/" title="60 Merrick Way, Miami">60 Merrick Way, Miami</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,… <a href="http://alt-realhomes.inspirythemes.com/property/60-merrick-way-miami/"> Know More </a> </p>
                                    @*<span class="price">$440,000 </span>*@
                                </li>
                                <li style="margin-right: 30px; width: 245px;">
                                    <figure>
                                        <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/" title="Florida 5, Pinecrest, FL">
                                            <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-09-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="Florida 5, Pinecrest, FL" title="Florida 5, Pinecrest, FL">
                                        </a>
                                    </figure>
                                    <h4><a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/" title="Florida 5, Pinecrest, FL">Florida 5, Pinecrest, FL</a></h4>
                                    <p>Nam liber tempor cum soluta nobis eleifend option… <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/"> Know More </a> </p>
                                    @*<span class="price">$480,000 </span>*@
                                </li>
                            </ul>
                        </div>
                        <div class="es-nav"><span class="es-nav-prev"></span><span class="es-nav-next"></span></div>
                    </div>
                </section>

                <section class="home-recent-posts container-fluid clearfix">
                    <div class="section-title">
                        <h3>Recent Posts</h3>
                        <p>View recent posts</p>
                    </div>
                    <div class="recent-posts-container row-fluid clearfix">
                        <article class="post-25 post type-post status-publish format-image has-post-thumbnail hentry category-sales tag-custom tag-interior span4 clearfix">
                            <figure>
                                <span class="format-icon image"></span>
                                <a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-01.jpg" class="swipebox" title="Lorem Post With Image Format">
                                    <img width="536" height="269" style="max-width:100%" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-01-536x269.jpg" class="attachment-gallery-two-column-image wp-post-image" alt="News Post">
                                </a>
                            </figure>
                            <h4 class="post-title"><a href="http://alt-realhomes.inspirythemes.com/lorem-post-with-image-format/">Lorem Post With Image Format</a></h4>
                            <div class="post-meta">
                                <span>On <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://alt-realhomes.inspirythemes.com/author/john-doe/" title="Posts by John Doe" rel="author">John Doe</a></span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…</p>
                            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/lorem-post-with-image-format/">Read More <i class="fa fa-caret-right"></i></a>
                        </article>
                        <article class="post-23 post type-post status-publish format-video has-post-thumbnail hentry category-market-updates tag-custom tag-trend span4 clearfix">
                            <div class="post-video">
                                <span class="format-icon video"></span>
                                <div class="video-wrapper on-home-page">
                                    <iframe src="http://player.vimeo.com/video/23534361" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <h4 class="post-title"><a href="http://alt-realhomes.inspirythemes.com/example-video-blog-post/">Example Video Blog Post</a></h4>
                            <div class="post-meta">
                                <span>On <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://alt-realhomes.inspirythemes.com/author/john-doe/" title="Posts by John Doe" rel="author">John Doe</a></span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…</p>
                            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/example-video-blog-post/">Read More <i class="fa fa-caret-right"></i></a>
                        </article>
                        <article class="post-15 post type-post status-publish format-gallery has-post-thumbnail hentry category-market-updates tag-beach tag-interior span4 clearfix">
                            <div class="listing-slider">
                                <span class="format-icon gallery"></span>

                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <ul class="slides" style="width: 1000%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-682px, 0px, 0px);">
                                        <li class="clone" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03-536x269.jpg" alt="Chair One"></a></li>
                                        <li class="" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06-536x269.jpg" alt="Chair Three"></a></li>
                                        <li class="flex-active-slide" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-04.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-04-536x269.jpg" alt="Chair Two"></a></li>
                                        <li style="width: 341px; float: left; display: block;" class=""><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-03-536x269.jpg" alt="Chair One"></a></li>
                                        <li class="clone" style="width: 341px; float: left; display: block;"><a href="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/news-06-536x269.jpg" alt="Chair Three"></a></li>
                                    </ul>
                                </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav" style="display: none;"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                            </div>                    <h4 class="post-title"><a href="http://alt-realhomes.inspirythemes.com/example-post-with-gallery-post-format/">Example Post With Gallery Post Format</a></h4>
                            <div class="post-meta">
                                <span>On <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://alt-realhomes.inspirythemes.com/author/john-doe/" title="Posts by John Doe" rel="author">John Doe</a></span></span>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna…</p>
                            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/example-post-with-gallery-post-format/">Read More <i class="fa fa-caret-right"></i></a>
                        </article>
                    </div>
                </section>
            </div><!-- End Main Content -->

        </div> <!-- End span12 -->

    </div><!-- End  row -->

</div>





