@{
    ViewBag.Title = "ViewAllStudent";
}
@Html.Partial("_pages")
<div class="container contents lisitng-grid-layout no-head">
    <div class="row">
        @Html.Partial("_lists")
        </div>
    </div>

