@{
    ViewBag.Title = "About Us";
}

@Html.Partial("_pages")

<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span8 main-wrap">
            <div class="main">
                <section class="listing-layout">
                    <h3 class="title-heading">About Us</h3>
                    <div class="list-container">
                        <figure><img src="http://dummyimage.com/830x323/dedede/fff.jpg&text=Dummy+Image"></figure>
                        <p>The Kalgidhar Trust – Baru Sahib is an Education focused non-profit charitable organization fighting the cancer of Drugs and Alcohol Abuse by promoting quality Education alongwith Healthcare, Women empowerment and Social welfare, to the deprived people, in far-flung rural areas of North India.</p>
                        <p>It has been instrumental in bringing about silent but sure reforms to uplift the socio-economic status of the rural poor in the areas covered.</p>
                        <p>The rural areas of Uttar Pradesh, Haryana, Rajasthan, backward hilly areas of Himachal Pradesh and Punjab are being covered with 129 outstanding low cost CBSE Schools, which provide modern value-based education to around 60,000 students.</p>
                        <p>Our students are mostly from rural deprived sections of the society and our schools admit them regardless of caste, creed, region, religion and social status.</p>
                        <p>The future outlook is to build these to 500 schools to bring the penetration of value-based education to village cluster levels.</p>
                        <p>Other than the schools, the Trust runs 24 Colleges, 2 Private Universities, 6 Free Teachers Training Centers to empower 2000 rural girls, 1 (280 bed) Hospital, 3 De-addiction Centers, Orphanage home, Old Age home, Rehabilitation Centers for distressed women other than holding 4 Free Medical/Surgery Camps for rural poor in hilly areas of Sirmaur, Himachal Pradesh.</p>

                        <article class="about-agent clearfix">
                            <h4><a href="#">Any Contact</a></h4>
                            <figure>
                                <a href="#">
                                    <img width="150" height="150" src="http://dummyimage.com/100x100/dbd2db/fff" class="attachment-post-thumbnail wp-post-image" alt="agent pic">
                                </a>
                            </figure>
                            <div class="detail">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum…</p>
                                <p class="contact-types">
                                    <em>Office: 041-456-7890</em><em>Mobile: 0223-123-4567</em><em>Fax: 041-789-1234</em>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        @Html.Partial("_works")
    </div>
</div>