<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Support Deed A Day </span></h1>
            <p></p>
        </div>
    </div>
</div>


<div class="container contents single login-register" style="margin-top:3px">
    <div class="row">
        <div class="span12 main-wrap">
            <section id="loginForm">
                <h3><span>Support Deed A Day</span></h3>
                <div class="main" style="align-self:center;">
                    <div class="inner-wrapper">
                        <p style="font-size:150%;">Support Deed A Day , So that we can scale up Volunteers and can grow as a Organization. </p>
                        <figure><img src="~/Content/images/slide-1-layer-2.png"></figure>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>