<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Lend A Hand</span></h1>
            <p></p>
        </div>
    </div>
</div>
<h6 class="getinvoloved">Get Involved </h6>

<p class="gethead">Your small hours can be the great force for change. </p>

<p class="getincontent"> Key to our impact has been our incredible team. Unlike other volunteer opportunities, joining the<strong> Deed A Day </strong>team gives you hands-on experience and real responsibility in managing projects, thinking creatively, meeting other inspired people, and making a difference. Whether you choose to volunteer, intern, start a <strong>Deed A Day Chapter</strong> in your local community, or go abroad as one of our fellows, your time is one of the most valuable resources you can give.</p>

<section class="section advance-search">
    <div class="row elipse">

        <a href="@Url.Action("SrtCptr", "LendAHand")"><div class="circleBase type3 col-md-3 offset1"> <p class="elipsecontent">Start A Chapter</p></div></a>

        <a href="@Url.Action("Vtr", "LendAHand")"><div class="circleBase type3 col-md-3 offset1"><p class="elipsecontent">Volunteer</p></div></a>

        <a href="@Url.Action("SprdTheWrd", "LendAHand")"><div class="circleBase type3 col-md-3 offset1"><p class="elipsecontent">Spread The Word</p></div></a>

    </div>


</section>