<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Start A Chapter</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span8 main-wrap">
            <div class="main">
                <section class="listing-layout">
                    <h3 class="title-heading">Start A Chapter</h3>
                    <div class="list-container">
                        <article class="post-25 post type-post status-publish format-image has-post-thumbnail hentry category-sales tag-custom tag-interior">
                            <h3>Your small hours can be the great force for change.</h3>
                            <p>Your Deed A Day,Your Community,Your Impact. </p>
                            <p> Deed A Day chapters are affiliated groups that work closely with our team to make a difference in their local communities. Often taking the form of school clubs or independent volunteer groups, Deed A Day chapters recruit volunteers, establish their annual goals, hold fundraising and awareness building events in their local community. Our chapters are core to our strength - we rely on our chapters to raise funding through events, spread awareness about our education causes, brainstorm and execute creative campaigns, and help us connect with more people. Starting a Deed A Day chapter is itself a important deed to make an impact and inspire your community to act! If you have any questions about getting started, please e-mail info@deedaday.co.uk </p>
                            <blockquote>
                                <p> <strong>Who can start a chapter? How do I join an existing chapter?</strong></p>

                                <p>
                                    Anyone can start a chapter! Typically, chapters take the form of extracurricular school clubs or volunteer groups that meet outside of work. Chapters elect their President, Vice President, Treasurer, Outreach Coordinator, Fundraising Coordinator, among other roles, and set their annual goals together. Starting a chapter is a great way to have fun with friends and make a difference, while joining a chapter is a terrific opportunity to meet new people and get engaged with your local community.
                                    Click here to see a list of our current chapters and check to see if there's a Deed A Day chapter in your area. If you have any questions, please don't hesitate to contact us at <strong>info@deedaday.co.uk.</strong>
                                </p>
                                <p> <strong>   How do I go about starting a chapter?</strong></p>

                                <p>To get started, download our guidebook to learn more about how our chapters work, and then simply fill out an application. Our team will be in touch shortly to discuss your plans and support your work! We'll walk you through the basics of rallying your local community and help you launch your chapter.</p>

                                <p><strong>How does a Deed A Day chapter work?</strong></p>

                                <p>
                                    Our <strong>Deed A Day </strong>chapters work closely with our team to raise awareness and funding in their local communities by holding meetings after school or work. In addition, through regular conference calls, Deea A Day chapter leaders collaborate with each other as well as our team to plan coordinated events and campaigns, exchange ideas, and learn from each other. Deed A Day chapter members and leaders have the opportunity to educate, inspire and motivate others to improve access to quality education.
                                <p><strong>1) Fundraising:</strong><p> Chapters plan creative fundraising events to support Deed A Day-sponsored education initiatives and student scholarships. We've had so many terrific chapter-led events over the years, from open bar nights and dance-a-thons to international food nights, silent auctions, and penny drives. Check out our chapters guidebook and activities manual for more ideas.
                                <p><strong>2) Marketing and Outreach (Education Advocacy):</strong></p> Chapters help us spread awareness by holding donor registration drives, educational speaker events on issues related to education in the developing world, recruitment of chapter members and volunteers, social media campaigns to inform their local communities, among other activities to mobilize and educate others. Chapters also participate in
                                <strong>
                                    Deed A Day-wide
                                </strong>
                                campaigns such as our "Meaning of Giving" initiative and our letters campaign for students, as well as film YouTube videos, write blog posts, and hold events related to our mission.
                                <p><strong>3) Blogging and Community:</strong></p> Our chapters re-cap their meetings, events, and overall impact through blogging. In addition, chapter members actively blog about their experiences and research related to education in the developing world, which gets aggregated into our central blog. Each chapter has their own Deed A Day Team which allows them to track their impact over time!
                                These are just a few of the functions that chapters carry out. Check out the chapters guidebook for more ideas, or get in touch if you have any particular requests or areas of interest.
                                </p>
                            </blockquote>
                            

                        </article>
                    </div>
                </section>
            </div>
        </div>
        <div class="span3">

            <div class="post property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale">
                <figure>
                    <div class="" style="display: none;">

                        @*<a href ="" id ="link" class="link" data-url="http://youtube.com/v/mjOehs9HMcY?autoplay=1" style="margin-top: -16px; right: 0px;"></a>*@
                    </div>
                    <img class="img-border" src="http://img.youtube.com/vi/g6lkZVgYZII/0.jpg?autoplay=1" style="width:247px;height:124px" alt="The Man behind DeedaDay - JS Uppal, CEO CK Morgan Australia "><img data-url="http://youtube.com/v/g6lkZVgYZII?autoplay=1" class="playbt" src="~/fonts/button_play_pink.png">
                </figure>

            </div>

        </div>


    </div>
</div>

<script type="text/javascript">
    $('.playbt').on('click', function () {
        $.ajax({
            type: "POST",
            url: '/Media/Player',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                linkk: $(this).attr("data-url")

            }),
            success: function (d) {
                if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(); }
            }

        });
    });
</script>