
<h6 class="getinvoloved">Volunteer</h6>

<p class="gethead">Make your real impact.    </p>

<p class="getincontent"> Join our community, register as a donor, and start logging your volunteer hours: even if you only have 5 minutes to spare, there's plenty that you can do! We strongly believe that small hours and small dollars is a powerful force of change.  </p>
<br>
<article class="post-25 post type-post status-publish format-image has-post-thumbnail hentry category-sales tag-custom tag-interior strarticle">

    <blockquote>

        <p> <strong>Start/join a Deed A Day chapter:</strong></p>

        <p>
            Deed A Day chapters are affiliated groups that work closely with our team to make a difference in their local communities. Often taking the form of school clubs or independent volunteer groups, Deed A Day chapters recruit volunteers, establish their annual goals, hold fundraising and awareness building events in their local community. Our chapters are core to our strength - we rely on our chapters to raise funding through events, spread awareness about our education causes, brainstorm and execute creative campaigns, and help us connect with more people. Starting a Givology chapter is a powerful way to make an impact and inspire your community to act! Check out our chapters page for more details and to find a chapter near you!.
        </p>
        <p> <strong>Join Deed A Day as a volunteer:</strong></p>

        <p>If you'd like a more fully engaged experience with Deed A Day, consider joining our team as a volunteer. As a Deed A Day volunteer, you'll be integrally involved with our activities, including social media, marketing, blogging and research, event and fundraiser planning, translation, among other activities. To get started, please send us a cover letter and resume, along with your estimated weekly time availability at info@deedaday.co.uk As a 100% volunteer organization, we welcome all volunteers of all backgrounds, ages, and experiences, and truly believe that time is one of the most valuable resources anyone can give. From 5 minutes to 50 hours, every bit counts.</p>

        <p><strong>Hold a fundraiser</strong></p>

        <p>
            Whether you're about to run a marathon or to hold a gathering for friends, considering adding a social impact dimension by making Deed A Day a part of your event! In the past, we've had inspiring people and businesses hold events on our behalf, from art & photography exhibitions, fashion night outs, comedy show performances, bake sale proceeds, cruise parties, battle of the bands, and high school service clubs making Deed A Day the beneficiary of campus fundraisers, among many other activities. Holding a fundraiser for Deed A Day or dedicating a portion of your event's earnings truly reaches communities and students all over the world. Check out the fundraising section in our chapters guidebook for various ideas! We're very happy to help you get started by providing Deed A Day informational materials and our full marketing/PR support to make your event and campaign a success! Please reach out to <strong>info@deedaday.co.uk</strong>, and we'll get in touch shortly to discuss how we can help.
        </p>

    </blockquote>
</article>