@model Deed.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Ethics And Culture";
}
@*@Html.Partial("_pages")*@
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/Dscool4.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Ethics And Culture</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents single login-register" style="margin-top:3px">
    <div class="row">
        <div class="span12 main-wrap">
            <section id="loginForm">
                <h3><span>Ethics And Culture</span></h3>
                <div class="main">
                    <div class="inner-wrapper">
                        <p style="font-size:150%;">
                            We serve all people, regardless of religion, race, ethnicity, or gender.
                        </p>
                            <figure><img src="~/Content/images/Dscool2.jpg" style="width:705px;"></figure>
                        
</div>
                </div>
            </section>
        </div>
    </div>
</div>




