@model Deed.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Ethics And Culture";
}
@*@Html.Partial("_pages")*@
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Ethics And Culture</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span8 main-wrap">
            <div class="main">
                <section class="listing-layout">
                    <h3 class="title-heading">Ethics And Culture</h3>
                    <div class="list-container">
                        <figure><img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xpf1/t1.0-9/p240x240/1902713_264063860429305_2088761674_n.jpg" style="width:705px;"></figure>
                        <p>Primarily, our focus is to provide cost-effective yet quality oriented holistic schooling to rural & under privileged children in India. </p>
                        <p>For the purpose, we build & run schools in rural backward regions of northern India i.e. UP, Haryana, Punjab, HP & Rajasthan, providing value-based education integrated with stark infrastructure, E-classrooms & other modern facilities/amenities like RO drinking water, sanitary washrooms etc.</p>
                        <p>DeedaDay.in is our ancillary initiative to draw support for children of impoverished families who are deprived of education. Though our trust strives to support several such children to the best possible extent of our capacity, yet our contribution alone remains confined to serving only a small fraction as the expanse of poverty is large in these regions.</p>
                        <p>Our team keeps surveying these regions to identify children/applicants who are not able to attend school due to financial constraints, and then our authentication team checks for validation of these cases through available documents & family site surveys before they get enlisted for seeking sponsorship.</p>
                        <p>We serve all people, regardless of religion, race, ethnicity, or gender.</p>
                    </div>
                </section>
            </div>
        </div>
        <div class="span3">

            <div class="post property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale">
                <figure>
                    <div class="" style="display: none;">

                        @*<a href ="" id ="link" class="link" data-url="http://youtube.com/v/mjOehs9HMcY?autoplay=1" style="margin-top: -16px; right: 0px;"></a>*@
                    </div>
                    <img class="img-border" src="http://img.youtube.com/vi/g6lkZVgYZII/0.jpg?autoplay=1" style="width:247px;height:124px" alt="The Man behind DeedaDay - JS Uppal, CEO CK Morgan Australia "><img data-url="http://youtube.com/v/g6lkZVgYZII?autoplay=1" class="playbt" src="~/Content/images/button_play_pink.png">
                </figure>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    $('.playbt').on('click', function () {
        $.ajax({
            type: "POST",
            url: '/Media/Player',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                linkk: $(this).attr("data-url")

            }),
            success: function (d) {
                if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(); }
            }

        });
    });
</script>









