@model Deed.Web.Models.LoginViewModel

@{
    ViewBag.Title = "How It Works";
}
@*@Html.Partial("_pages")*@
<div class="page-head" style="background-repeat: no-repeat;background-position: center top;background-image: url('http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/12/banner.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>How It Works</span></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="container contents single login-register" style="margin-top:3px">
        <div class="row">
            <div class="span12 main-wrap">
                <section id="loginForm">
                    <h3><span>How It Works</span></h3>
                    <div class="main">
                        <div class="inner-wrapper">
                             <figure><img src="http://dummyimage.com/830x323/dedede/fff.jpg&text=Dummy+Image"></figure>
                            <p>Cofee a Day cost more than a Pound , Deed a Day cost less than a Coffee a day 1 pound *365 days can help educating a child.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>





