@{
    ViewBag.Title = "About Us";
}

@*@Html.Partial("_pages")*@
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>About us</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span8 main-wrap">
            <div class="main">
                <section class="listing-layout">
                    <h3 class="title-heading">About Us</h3>
                    <div class="list-container">
                        <figure><img style="width:705px;" src="https://scontent-a-cdg.xx.fbcdn.net/hphotos-xpa1/t1.0-9/s526x296/1622161_268972683271756_515007202_n.jpg"></figure>
                        <p>The Kalgidhar Trust – Baru Sahib is an Education focused non-profit charitable organization fighting the cancer of Drugs and Alcohol Abuse by promoting quality Education alongwith Healthcare, Women empowerment and Social welfare, to the deprived people, in far-flung rural areas of North India.</p>
                        <p>It has been instrumental in bringing about silent but sure reforms to uplift the socio-economic status of the rural poor in the areas covered.</p>
                        <p>The rural areas of Uttar Pradesh, Haryana, Rajasthan, backward hilly areas of Himachal Pradesh and Punjab are being covered with 129 outstanding low cost CBSE Schools, which provide modern value-based education to around 60,000 students.</p>
                        <p>Our students are mostly from rural deprived sections of the society and our schools admit them regardless of caste, creed, region, religion and social status.</p>
                        <p>The future outlook is to build these to 500 schools to bring the penetration of value-based education to village cluster levels.</p>
                        <p>Other than the schools, the Trust runs 24 Colleges, 2 Private Universities, 6 Free Teachers Training Centers to empower 2000 rural girls, 1 (280 bed) Hospital, 3 De-addiction Centers, Orphanage home, Old Age home, Rehabilitation Centers for distressed women other than holding 4 Free Medical/Surgery Camps for rural poor in hilly areas of Sirmaur, Himachal Pradesh.</p>

                        <article class="about-agent clearfix">
                            <h4><a href="#">Contact Us</a></h4>
                            <figure>
                                <a href="#">
                                    <img width="150" height="150" src="~/Content/images/logo.png" class="attachment-post-thumbnail wp-post-image" alt="agent pic">
                                </a>
                            </figure>
                            <div class="detail">
                                <p>The Kalgidhar Trust UK &amp; 30,  Merrick Road,<br> Southall London ,<br> UB2 4AU</p>
                                <p class="contact-types">
                                    <em>Office: +91-11-42434243</em><em>Mobile:07956 012 900 / 07791041009 / 07711382621</em>
                                </p>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
        <div class="span3">

            <div class="post property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale">
                <figure>
                    <div class="" style="display: none;">

                        @*<a href ="" id ="link" class="link" data-url="http://youtube.com/v/mjOehs9HMcY?autoplay=1" style="margin-top: -16px; right: 0px;"></a>*@
                    </div>
                    <img class="img-border" src="http://img.youtube.com/vi/g6lkZVgYZII/0.jpg?autoplay=1" style="width:247px;height:124px" alt="The Man behind DeedaDay - JS Uppal, CEO CK Morgan Australia "><img data-url="http://youtube.com/v/g6lkZVgYZII?autoplay=1" class="playbt" src="~/Content/images/button_play_pink.png">
                </figure>

            </div>

        </div>

       
    </div>
</div>
<script type="text/javascript">
    $('.playbt').on('click', function () {
        $.ajax({
            type: "POST",
            url: '/Media/Player',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                linkk: $(this).attr("data-url")

            }),
            success: function (d) {
                if (!!d) { $('<div class="modal fade">' + d + '</div>').modal(); }
            }

        });
    });
</script>