@{
    ViewBag.Title = "What we do";
}

@*@Html.Partial("_pages")*@
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/Dscool4.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>What We Do</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents lisitng-grid-layout">
    <div class="row">
        <div class="span8 main-wrap">
            <div class="main">
                <section class="listing-layout">
                    <h3 class="title-heading">What We Do</h3>
                    <div class="list-container">
                        <figure><img src="http://dummyimage.com/830x323/dedede/fff.jpg&text=Dummy+Image" style="width:705px;"></figure>
                        <p>Primarily, our focus is to provide cost-effective yet quality oriented holistic schooling to rural & under privileged children in India. </p>
                        <p>For the purpose, we build & run schools in rural backward regions of northern India i.e. UP, Haryana, Punjab, HP & Rajasthan, providing value-based education integrated with stark infrastructure, E-classrooms & other modern facilities/amenities like RO drinking water, sanitary washrooms etc.</p>
                        <p>DeedaDay.in is our ancillary initiative to draw support for children of impoverished families who are deprived of education. Though our trust strives to support several such children to the best possible extent of our capacity, yet our contribution alone remains confined to serving only a small fraction as the expanse of poverty is large in these regions.</p>
                        <p>Our team keeps surveying these regions to identify children/applicants who are not able to attend school due to financial constraints, and then our authentication team checks for validation of these cases through available documents & family site surveys before they get enlisted for seeking sponsorship.</p>
                        <p>We serve all people, regardless of religion, race, ethnicity, or gender.</p>
                    </div>
                </section>
            </div>
        </div>
       
    </div>
</div>