@model Deed.Web.ViewModels.SponsorPaymentViewModel

@{
    ViewBag.Title = "_Grid";
}
@*<h2>_Grid</h2>*@
<link href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/css/._style.css" rel="stylesheet" />
@*<a href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css">~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css</a>*@
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button id="d" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        </div>
        <div class="modal-body">
            <div class="row">
                <section id="photos">

                    @foreach (var m in Model.Picture)
                    {
                        <div class="col-md-3 col-sm-3 close" style="margin-bottom:10px;">
                            x<img class=" " data-dismiss="img" src="http://deedaday.in/img/upload/students/@m" style=" height:163px;width:100%" />
                        </div>
                    }
                </section>
            </div>
            <section>
                @Html.Partial("Pay")
            </section>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script type="text/javascript">
    $("#photos").on('click','.close',function (e) {
        $(this).hide();
    });
</script>