<div id="sliderFrame">
    <div id="slider">
        @*<img src="slide-1.jpg" alt="Caption for slide 1" />
        <img src="slide-2.jpg" />
        <a href="http://menucool.com"><img src="slide-3.jpg" /></a>
        <img src="slide-4.jpg" />
        <img src="slide-5.jpg" alt="Caption for slide 5" />*@


        <img src="~/Content/images/SliderImg/image-slider-1.jpg" />
        <img src="~/Content/images/SliderImg/image-slider-2.jpg" />
        <img src="~/Content/images/SliderImg/image-slider-3.jpg" />
        <img src="~/Content/images/SliderImg/image-slider-4.jpg" />
        <img src="~/Content/images/SliderImg/image-slider-5.jpg" />
    </div>
</div>
