@model Deed.Web.ViewModels.SponsorPaymentViewModel
<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Sponshership Basket</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents contact-page">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">
                    <article id="post-131" class="post-131 page type-page status-publish hentry clearfix"></article>
                    <div class="">
                        <h1>Selected Students </h1>
                        <div class="panel panel-success">
                            <div class="panel-heading">Selected Students</div>
                            @*<div class="panel-body">
                                    Panel body content goes here...
                                </div>*@
                            <ul class="list-group">
                                @*<li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Mantej Singh Dhanjal" data-content="Amount:&#163; 222,Religion:,Class:Hindu,Age:13 "><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>

                                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Guru Thakur" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>
                                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Monty" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>
                                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Montex" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>
                                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="Gurpeet" data-content="Amount:&#163 222 ,Religion:,Class:Hindu,Age:13"><img src="~/Content/images/SliderImg/s2.jpg" /><div id="cls" class="close">X</div></li>*@

                                @foreach (var m in Model.Students)
                                {
                                    <li class="list-group-item" data-container="body" data-toggle="popover" data-placement="top" data-original-title="@m.first_name" data-content="Amount:&#163 222 ,Village:@m.village,Phone:@m.phone1"><img src="http://deedaday.in/img/upload/students/@m.image" style="width:150px; height: 150px;" /><div id="cls" class="close">X</div></li>
                                }
                            </ul>
                            <div class="panel-body">
                                <div class="panel panel-info">
                                    @*<div class="panel-heading">Total Expenses</div>*@
                                    <ul class="list-group">
                                        <li class="list-group-item">Total Selected Students=@Model.count</li>
                                        <li class="list-group-item">Total Amount=</li>


                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading">Choose Payment Mode</div>
                            <div class="panel-body">
                                <div>


                                    <label>
                                        <select>
                                            <option value="1" selected="selected">Yearly</option>
                                            <option value="2">Half Yearly</option>
                                        </select>
                                    </label>


                                    <label style="margin-left:40px">
                                        <span>Total Amount : <span>&#163;&nbsp;2000.63</span></span>
                                        <span class="amount_he" style="display:none" id="p2">Total Amount : <span>&#163;2000.63</span></span>


                                    </label>
                                    <div>&nbsp;</div>
                                    <div>Would you like to share your personal details on our Network ? <input type="radio" name="data[Client_temp][pdaccept]" value="Yes" checked="checked">Yes <input type="radio" name="data[Client_temp][pdaccept]" value="No">No</div>
                                    <div>&nbsp;</div>
                                    <input type="radio"><span>CC Avenue (International Payment Gateway with High Reputation)</span><div class="cl">&nbsp;</div><span class="amount_he">HDFC Bank Payment Gateway</span><div class="cl">&nbsp;</div><input type="radio" name="data[Client_temp][pay_mod]" value="1" checked="checked"> <span class="credit_card">UK Donors</span> <input type="radio" name="data[Client_temp][pay_mod]" value="2"> <span class="credit_card">International Donors</span> <!--<input type="radio" value="3" name="data[Client_temp][pay_mod]"><span class="credit_card">Overseas passport holders with Indian cards</span> <div class="cl">&nbsp;</div> --><span class="credit_card"><a href="/clients/payment_fails">Manual Payment / Transfer</a></span><div class="cl">&nbsp;</div><input name="submit" type="submit" value="Proceed To Pay">
                                    <div>&nbsp;</div>
                                </div>


                            </div>
                        </div>
                        @*<div class="panel panel-info">
                                <div class="panel-heading">Choose Payment GateWay</div>
                                <div class="panel-body">Panel content goes here..</div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">HDFC Bank Payment Gateway</div>
                                <div class="panel-body">Panel content goes here..</div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">Proceed To Pay</div>*@

                    </div>
                    @*<div class="panel panel-success">
                            <div class="panel-heading">Heading</div>
                            <div class="panel-body">Panel Success</div>
                        </div>
                        <div class="panel panel-warning">
                            <div class="panel-heading">Heading</div>
                            <div class="panel-body">Panel Warning</div>
                        </div>
                        <div class="panel panel-danger">
                            <div class="panel-heading">Heading</div>
                            <div class="panel-body">Panel Danger</div>
                        </div>*@
                    @*<div class="panel panel-info">
                            <div class="panel-heading">Heading</div>
                            <div class="panel-body">Panel Info</div>
                        </div>*@


                    @*<hr>
                        <a  class="btn-primary" href="">Proceed To Pay</a>
                        <hr>*@

                </div>
                @*<section class="contact-details clearfix">
                        <h3>Real Homes</h3><address>3015 Grand Ave, Coconut Grove,<br> Merrick Way, FL 12345</address>                                    <ul class="contacts-list">
                            <li class="phone"> Phone: 1-800-555-1234</li>
                            <li class="mobile"> Mobile: 123-456-7890</li>
                            <li class="email"> Email: info@yourwebsite.com</li>
                        </ul>
                    </section>
                    <section id="contact-form">
                        <h3 class="form-heading">Choose Payment Mode</h3>
                        <form class="contact-form" method="post" action="http://inspirythemesdemo.com/realhomes/wp-admin/admin-ajax.php" novalidate="novalidate">
                            <p>
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="required" title="* Please provide your name">
                            </p>

                            <div>Would you like to share your personal details on our Network ? <input type="radio" name="data[Client_temp][pdaccept]" value="Yes" checked="checked">Yes <input type="radio" name="data[Client_temp][pdaccept]" value="No">No</div>

                            <p>
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" class="email required" title="* Please provide a valid email address">
                            </p>

                            <p>
                                <label for="subject">Subject</label>
                                <input type="text" name="subject" id="subject">
                            </p>

                            <p>
                                <label for="comment">Message</label>
                                <textarea name="message" id="comment" class="required" title="* Please provide your message"></textarea>
                            </p>

                            <p>
                            <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Ldf7fQSAAAAAD52MkF0ZMwi09JoycTSGBLe2RW5"></script>
                            <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha.js"></script></p><div id="recaptcha_widget_div" class=" recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio"><div id="recaptcha_area"><table id="recaptcha_table" class="recaptchatable recaptcha_theme_red"> <tbody><tr> <td colspan="6" class="recaptcha_r1_c1"></td> </tr> <tr> <td class="recaptcha_r2_c1"></td> <td colspan="4" class="recaptcha_image_cell"><center><div id="recaptcha_image" style="width: 300px; height: 57px;"><img id="recaptcha_challenge_image" alt="reCAPTCHA challenge image" height="57" width="300" src="http://www.google.com/recaptcha/api/image?c=03AHJ_VutgMl_CLD3VvFsShrcdSy4b2PVZM5qVFLhdx2ISLzWRmDI0ERc_XlN-fDQfGpEmPzn7gOZzEUO3tZGA9vf_mtMExCDc3DuMtAZ3bLZpSmQU6XBFJpB287sh2LIJxf0WhUe_fk1nOr5_XNQCeqg7tQrLcRwo9YMEQKxH4_LRHn4fMpWD3gADSh2jdX8lztNggGEZP9aZiOkU6x4f5FyJ9ODGxH7A5jm7wxlIu432Uoi_dH6SxdnVFNED_7FrVF-7KEWvvt1VZXM2X-iGPDwclfyTNxnPmobuocQd62fiAUWFo9mw9_c&amp;th=,8bCJPTFtI91LfrbPGB3U8hkVuvAAAAAgoAAAAAPYAMndAbd7QkQK9Svo1HAW2nm7jAOmYrp5t8Bfj_4KWswsbnDZ5pv46MbBF1v46KoFmWKriYls1SXwdGqJoEE56InUpNEJHQD6MtpyPxxypsrs7j5k7aFYs7Q9iOcB5CqN7TslzAbY9Ym30D70YKOrcMpG-AImeaXqlHw7HtAa4BHaVntvh20bqqbBE3_gbNCxc2_hEKHlJDMGcP7e_Ork4V98WhYE_kfpyas3dautL8-ucRgju5FML_jysYgjNZcBX5RPupxxjQ_ZHuw"></div></center></td> <td class="recaptcha_r2_c2"></td> </tr> <tr> <td rowspan="6" class="recaptcha_r3_c1"></td> <td colspan="4" class="recaptcha_r3_c2"></td> <td rowspan="6" class="recaptcha_r3_c3"></td> </tr> <tr> <td rowspan="3" class="recaptcha_r4_c1" height="49"> <div class="recaptcha_input_area"> <span id="recaptcha_challenge_field_holder" style="display: none;"><input type="hidden" name="recaptcha_challenge_field" id="recaptcha_challenge_field" value="03AHJ_VutgMl_CLD3VvFsShrcdSy4b2PVZM5qVFLhdx2ISLzWRmDI0ERc_XlN-fDQfGpEmPzn7gOZzEUO3tZGA9vf_mtMExCDc3DuMtAZ3bLZpSmQU6XBFJpB287sh2LIJxf0WhUe_fk1nOr5_XNQCeqg7tQrLcRwo9YMEQKxH4_LRHn4fMpWD3gADSh2jdX8lztNggGEZP9aZiOkU6x4f5FyJ9ODGxH7A5jm7wxlIu432Uoi_dH6SxdnVFNED_7FrVF-7KEWvvt1VZXM2X-iGPDwclfyTNxnPmobuocQd62fiAUWFo9mw9_c"></span><input name="recaptcha_response_field" id="recaptcha_response_field" type="text" autocorrect="off" autocapitalize="off" placeholder="Type the text" autocomplete="off"> <span id="recaptcha_privacy" class="recaptcha_only_if_privacy"><a href="http://www.google.com/intl/en/policies/" target="_blank">Privacy &amp; Terms</a></span> </div> </td> <td rowspan="4" class="recaptcha_r4_c2"></td> <td><a id="recaptcha_reload_btn" title="Get a new challenge"><img id="recaptcha_reload" width="25" height="17" src="http://www.google.com/recaptcha/api/img/red/refresh.gif" alt="Get a new challenge"></a></td> <td rowspan="4" class="recaptcha_r4_c4"></td> </tr> <tr> <td><a id="recaptcha_switch_audio_btn" class="recaptcha_only_if_image" title="Get an audio challenge"><img id="recaptcha_switch_audio" width="25" height="16" alt="Get an audio challenge" src="http://www.google.com/recaptcha/api/img/red/audio.gif"></a><a id="recaptcha_switch_img_btn" class="recaptcha_only_if_audio" title="Get a visual challenge"><img id="recaptcha_switch_img" width="25" height="16" alt="Get a visual challenge" src="http://www.google.com/recaptcha/api/img/red/text.gif"></a></td> </tr> <tr> <td><a id="recaptcha_whatsthis_btn" title="Help"><img id="recaptcha_whatsthis" width="25" height="16" src="http://www.google.com/recaptcha/api/img/red/help.gif" alt="Help"></a></td> </tr> <tr> <td class="recaptcha_r7_c1"></td> <td class="recaptcha_r8_c1"></td> </tr> </tbody></table> </div></div>

                            <noscript>
                                &lt;iframe src="http://www.google.com/recaptcha/api/noscript?k=6Ldf7fQSAAAAAD52MkF0ZMwi09JoycTSGBLe2RW5" height="300" width="500" frameborder="0"&gt;&lt;/iframe&gt;&lt;br/&gt;
                                &lt;textarea name="recaptcha_challenge_field" rows="3" cols="40"&gt;&lt;/textarea&gt;
                                &lt;input type="hidden" name="recaptcha_response_field" value="manual_challenge"/&gt;
                            </noscript><p></p>
                            <p>
                                <input type="submit" value="Send Message" id="submit" class="real-btn" name="submit">
                                <img src="http://inspirythemesdemo.com/realhomes/wp-content/themes/realhomes/images/ajax-loader.gif" id="contact-loader" alt="Loading...">
                                <input type="hidden" name="action" value="send_message">
                                <input type="hidden" name="target" value="robot@inspirythemes.com">
                            </p>
                            <div class="error-container"></div>
                            <div id="message-sent">&nbsp;</div>
                        </form>
                    </section>*@

            </div>

        </div><!-- End Main Content -->
    </div><!-- End span9 -->
</div><!-- End contents row -->
</div>









<script type="text/javascript">
    $(document).ready(function () {
        //var bar1 = $("#ProgressParent #progresss").progressbar({value:37});
        //var bar1 = $("#ProgressParent #progresss").progressbar();
        //var barrrr = bar1.progress(50);

        $(".list-group .list-group-item").each(

            function () {

                $(".list-group .list-group-item").popover('show');
                $(".list-group #cls").on('click', function (e) {
                    $(this).parent().hide();
                });
            });
    });
</script>