




<link href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/css/._style.css" rel="stylesheet" />
<a href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css">~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css</a>





<section id="photos">

    <img src="~/Content/images/slide-1.jpg" />


    <img src="~/Content/images/slide-2.jpg" />



    <img src="~/Content/images/slide-1-layer-2.png" />


    <img src="~/Content/images/slide-2.jpg" />

</section>

