<div class="container contents blog-page">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">

                    <article class="post-25 post type-post status-publish format-image has-post-thumbnail hentry category-sales tag-custom tag-interior">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/">Lorem Post With Image Format</a></h3>
                            <div class="post-meta image-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/sales/" title="View all posts in Sales">Sales</a> </span>
                            </div>
                        </header>
                        <figure>
                            <span class="format-icon image"></span>
                            <a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-01.jpg" class="swipebox" title="Lorem Post With Image Format">
                                <img width="830" height="323" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-01.jpg" class="attachment-post-featured-image wp-post-image" alt=" Lorem Post With Image Format" title=" Lorem Post With Image Format">
                            </a>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/">Read more</a>
                    </article>

                    <article class="post-23 post type-post status-publish format-video has-post-thumbnail hentry category-market-updates tag-custom tag-trend">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/example-video-blog-post/">Example Video Blog Post</a></h3>
                            <div class="post-meta video-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/market-updates/" title="View all posts in Market Updates">Market Updates</a> </span>
                            </div>
                        </header>
                        <div class="post-video">
                            <span class="format-icon video"></span>
                            <div class="video-wrapper">
                                <iframe src="http://player.vimeo.com/video/23534361" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/example-video-blog-post/">Read more</a>
                    </article>

                    <article class="post-15 post type-post status-publish format-gallery has-post-thumbnail hentry category-market-updates tag-beach tag-interior">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/example-post-with-gallery-post-format/">Example Post With Gallery Post Format</a></h3>
                            <div class="post-meta gallery-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/market-updates/" title="View all posts in Market Updates">Market Updates</a> </span>
                            </div>
                        </header>
                        <div class="listing-slider">
                            <span class="format-icon gallery"></span>

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 1000%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-1656px, 0px, 0px);">
                                    <li class="clone" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" alt="Chair One"></a></li>
                                    <li class="" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" alt="Chair Three"></a></li>
                                    <li class="flex-active-slide" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-04.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-04.jpg" alt="Chair Two"></a></li>
                                    <li style="float: left; display: block; width: 828px;" class=""><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" alt="Chair One"></a></li>
                                    <li class="clone" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" alt="Chair Three"></a></li>
                                </ul>
                            </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav" style="display: none;"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                        </div>    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/example-post-with-gallery-post-format/">Read more</a>
                    </article>

                    <article class="post-12 post type-post status-publish format-image has-post-thumbnail hentry category-comfort tag-garden tag-interior">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/example-post-with-image-post-format/">Example Post With Image Post Format</a></h3>
                            <div class="post-meta image-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/comfort/" title="View all posts in Comfort">Comfort</a> </span>
                            </div>
                        </header>
                        <figure>
                            <span class="format-icon image"></span>
                            <a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-05.jpg" class="swipebox" title="Example Post With Image Post Format">
                                <img width="830" height="323" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-05.jpg" class="attachment-post-featured-image wp-post-image" alt="Example Post With Image Post Format" title="Example Post With Image Post Format">
                            </a>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/example-post-with-image-post-format/">Read more</a>
                    </article>
                    <div class="pagination"><a href="http://inspirythemesdemo.com/realhomes/news/" class="real-btn current">1</a> <a href="http://inspirythemesdemo.com/realhomes/news/page/2/" class="real-btn">2</a> </div>
                </div>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        
    </div><!-- End contents row -->
</div>