<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Media/News</span></h1>
            <p></p>
        </div>
    </div>
</div>


<div class="container contents blog-page">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">

                    <article class="post-25 post type-post status-publish format-image has-post-thumbnail hentry category-sales tag-custom tag-interior">
                        <header>
                            <h3 class="post-title"><a href="">Exploring Rural Talent: Young Students Reveal their Artistic side during MIME Event</a></h3>
                            @*<div class="post-meta image-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/sales/" title="View all posts in Sales">Sales</a> </span>
                            </div>*@
                        </header>
                        <figure>
                            <span class="format-icon image"></span>
                            <a href="http://deedaday.in/img/upload/news/thumb/d751dcb117ea0d5f5120357521a4d1d6.jpg" class="swipebox" title="">
                                <img width="830" height="323" src="http://deedaday.in/img/upload/news/thumb/d751dcb117ea0d5f5120357521a4d1d6.jpg" class="attachment-post-featured-image wp-post-image" alt=" " title=" ">
                            </a>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/">Read more</a>
                    </article>

                    <article class="post-23 post type-post status-publish format-video has-post-thumbnail hentry category-market-updates tag-custom tag-trend">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/example-video-blog-post/">Example Video Blog Post</a></h3>
                            <div class="post-meta video-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/market-updates/" title="View all posts in Market Updates">Market Updates</a> </span>
                            </div>
                        </header>
                        <div class="post-video">
                            <span class="format-icon video"></span>
                            <div class="video-wrapper">
                                <iframe src="http://player.vimeo.com/video/23534361" allowfullscreen=""></iframe>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/example-video-blog-post/">Read more</a>
                    </article>

                    <article class="post-15 post type-post status-publish format-gallery has-post-thumbnail hentry category-market-updates tag-beach tag-interior">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/example-post-with-gallery-post-format/">Example Post With Gallery Post Format</a></h3>
                            <div class="post-meta gallery-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/market-updates/" title="View all posts in Market Updates">Market Updates</a> </span>
                            </div>
                        </header>
                        <div class="listing-slider">
                            <span class="format-icon gallery"></span>

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 1000%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-1656px, 0px, 0px);">
                                    <li class="clone" style="float: left; display: block; width: 828px;"><a href="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xfp1/t1.0-9/p240x240/1922227_276258559209835_2044809660_n.jpg" title="" class="swipebox"><img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xfp1/t1.0-9/p240x240/1922227_276258559209835_2044809660_n.jpg" alt="Chair One"></a></li>
                                    <li class="" style="float: left; display: block; width: 828px;"><a href="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/p240x240/1972394_684543098255536_232642443_n.jpg" title="" class="swipebox"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t1.0-9/p240x240/1972394_684543098255536_232642443_n.jpg" alt="Chair Three"></a></li>
                                    <li class="flex-active-slide" style="float: left; display: block; width: 828px;"><a href="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/p240x240/1606868_671150639594782_1511603420_n.jpg" title="" class="swipebox"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/p240x240/1606868_671150639594782_1511603420_n.jpg" alt="Chair Two"></a></li>
                                    <li style="float: left; display: block; width: 828px;" class=""><a href="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xpf1/t1.0-9/p240x240/1618528_262560340579657_1228731668_n.jpg" title="" class="swipebox"><img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xpf1/t1.0-9/p240x240/1618528_262560340579657_1228731668_n.jpg" alt="Chair One"></a></li>
                                    <li class="clone" style="float: left; display: block; width: 828px;"><a href="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xap1/t1.0-9/p240x240/1779794_663746473668532_11919455_n.jpg" title="" class="swipebox"><img src="https://scontent-b-cdg.xx.fbcdn.net/hphotos-xap1/t1.0-9/p240x240/1779794_663746473668532_11919455_n.jpg" alt="Chair Three"></a></li>
                                </ul>
                            </div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav" style="display: none;"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                        </div>    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/example-post-with-gallery-post-format/">Read more</a>
                    </article>

                    <article class="post-12 post type-post status-publish format-image has-post-thumbnail hentry category-comfort tag-garden tag-interior">
                        <header>
                            <h3 class="post-title"><a href="http://inspirythemesdemo.com/realhomes/example-post-with-image-post-format/">The much awaited ENTRANCE EXAMS for Akal Academy Baru Sahib will be held at F-3, Rajouri Garden, New Delhi on 3rd Feb 2014. North India's first IB School for PYP.</a></h3>
                            <div class="post-meta image-meta thumb-exist">
                                <span>Posted on <span class="date"> August 01, 2013</span></span>
                                <span>by <span class="author-link"><a href="http://inspirythemesdemo.com/realhomes/author/saqib/" title="Posts by John Doe" rel="author">John Doe</a></span> in <a href="http://inspirythemesdemo.com/realhomes/category/comfort/" title="View all posts in Comfort">Comfort</a> </span>
                            </div>
                        </header>
                        <figure>
                            <span class="format-icon image"></span>
                            <a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-05.jpg" class="swipebox" title="Example Post With Image Post Format">
                                <img width="830" height="323" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/p240x240/1601109_661851307191382_440530178_n.jpg" class="attachment-post-featured-image wp-post-image" alt="Example Post With Image Post Format" title="Example Post With Image Post Format">
                            </a>
                        </figure>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo…</p>
                        <a class="real-btn" href="http://inspirythemesdemo.com/realhomes/example-post-with-image-post-format/">Read more</a>
                    </article>
                    <div class="pagination"><a href="http://inspirythemesdemo.com/realhomes/news/" class="real-btn current">1</a> <a href="http://inspirythemesdemo.com/realhomes/news/page/2/" class="real-btn">2</a> </div>
                </div>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        
    </div><!-- End contents row -->
</div>