<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/SliderImg/13772.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>News Gallery</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents single">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">
                    <article class="post-15 post type-post status-publish format-gallery has-post-thumbnail hentry category-market-updates tag-beach tag-interior">
                        <header>
                            <h3 class="post-title">Example Post With Gallery Post Format</h3>
                            <div class="post-meta gallery-meta thumb-exist">
                                <span> Posted on  <span class="date"> August 01, 2013 </span></span>
                                <span> by John Doe in  <a href="http://inspirythemesdemo.com/realhomes/category/market-updates/" title="View all posts in Market Updates">Market Updates</a>  </span>
                            </div>
                        </header>
                        <div class="listing-slider">
                            <span class="format-icon gallery"></span>

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 1000%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-828px, 0px, 0px);">
                                    <li class="clone" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" alt="Chair One"></a></li>
                                    <li class="flex-active-slide" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" alt="Chair Three"></a></li>
                                    <li class="" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-04.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-04.jpg" alt="Chair Two"></a></li>
                                    <li style="float: left; display: block; width: 828px;" class=""><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-03.jpg" alt="Chair One"></a></li>
                                    <li class="clone" style="float: left; display: block; width: 828px;"><a href="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" title="" class="swipebox"><img src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/news-06.jpg" alt="Chair Three"></a></li>
                                </ul>
                            </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav" style="display: block;"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                        </div><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                        <h3>The History</h3>
                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                        <h3>Local Values</h3>
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat:</p>
                        <ol>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</li>
                            <li>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</li>
                            <li>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</li>
                            <li>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</li>
                        </ol>
                        <h3>Rules</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <blockquote><p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p></blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p class="tip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.<i class="icon-remove"></i></p>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.&nbsp;Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                        <h3>Traditions</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                        <p class="success">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.<i class="icon-remove"></i></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                    </article>
                    <section id="comments">




                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/realhomes/example-post-with-gallery-post-format/#respond" style="display:none;">Cancel reply</a></small></h3>
                            <form action="http://inspirythemesdemo.com/realhomes/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>							<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                                <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                                <p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="text" value="" size="30"></p>
                                <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>						<p class="form-allowed-tags">You may use these <abbr title="HyperText Markup Language">HTML</abbr> tags and attributes:  <code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></p>						<p class="form-submit">
                                    <input name="submit" type="submit" id="submit" value="Post Comment" class="real-btn">
                                    <input type="hidden" name="comment_post_ID" value="15" id="comment_post_ID">
                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                </p>
                            </form>
                        </div><!-- #respond -->

                    </section><!-- end of comments -->
                </div>

            </div><!-- End Main Content -->

        </div> <!-- End span9 -->

        <div class="span3 sidebar-wrap">

            <!-- Sidebar -->
            <aside class="sidebar">
                <section id="search-2" class="widget clearfix widget_search">
                    <form role="search" method="get" id="searchform" class="searchform" action="http://inspirythemesdemo.com/realhomes/">
                        <div>
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="text" value="" name="s" id="s">
                            <input type="submit" id="searchsubmit" value="Search">
                        </div>
                    </form>
                </section><section id="featured_properties_widget-2" class="widget clearfix Featured_Properties_Widget">
                    <h3 class="title">Featured Properties</h3>            <ul class="featured-properties">
                        <li>
                            <figure>
                                <a href="http://inspirythemesdemo.com/realhomes/property/15421-southwest-39th-terrace/">
                                    <img width="246" height="162" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/property-10-246x162.jpg" class="attachment-grid-view-image wp-post-image" alt="property 10">
                                </a>
                            </figure>
                            <h4><a href="http://inspirythemesdemo.com/realhomes/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing… <a href="http://inspirythemesdemo.com/realhomes/property/15421-southwest-39th-terrace/">Read More</a></p>
                            <span class="price">$3,850 Per Month</span>
                        </li>
                        <li>
                            <figure>
                                <a href="http://inspirythemesdemo.com/realhomes/property/60-merrick-way-miami/">
                                    <img width="246" height="162" src="http://inspirythemesdemo.com/realhomes/wp-content/uploads/2013/08/property-07-246x162.jpg" class="attachment-grid-view-image wp-post-image" alt="property-07">
                                </a>
                            </figure>
                            <h4><a href="http://inspirythemesdemo.com/realhomes/property/60-merrick-way-miami/" title="60 Merrick Way, Miami">60 Merrick Way, Miami</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing… <a href="http://inspirythemesdemo.com/realhomes/property/60-merrick-way-miami/">Read More</a></p>
                            <span class="price">$440,000 </span>
                        </li>
                    </ul>
                </section><section id="categories-2" class="widget clearfix widget_categories">
                    <h3 class="title">Categories</h3>		<ul>
                        <li class="cat-item cat-item-2">
                            <a href="http://inspirythemesdemo.com/realhomes/category/comfort/" title="View all posts filed under Comfort">Comfort</a>
                        </li>
                        <li class="cat-item cat-item-3">
                            <a href="http://inspirythemesdemo.com/realhomes/category/luxury/" title="View all posts filed under Luxury">Luxury</a>
                        </li>
                        <li class="cat-item cat-item-4">
                            <a href="http://inspirythemesdemo.com/realhomes/category/market-updates/" title="View all posts filed under Market Updates">Market Updates</a>
                        </li>
                        <li class="cat-item cat-item-5">
                            <a href="http://inspirythemesdemo.com/realhomes/category/sales/" title="View all posts filed under Sales">Sales</a>
                        </li>
                    </ul>
                </section>		<section id="recent-posts-4" class="widget clearfix widget_recent_entries">
                    <h3 class="title">Recent Posts</h3>		<ul>
                        <li>
                            <a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/">Lorem Post With Image Format</a>
                        </li>
                        <li>
                            <a href="http://inspirythemesdemo.com/realhomes/example-video-blog-post/">Example Video Blog Post</a>
                        </li>
                        <li>
                            <a href="http://inspirythemesdemo.com/realhomes/example-post-with-gallery-post-format/">Example Post With Gallery Post Format</a>
                        </li>
                        <li>
                            <a href="http://inspirythemesdemo.com/realhomes/example-post-with-image-post-format/">Example Post With Image Post Format</a>
                        </li>
                        <li>
                            <a href="http://inspirythemesdemo.com/realhomes/lorem-ipsum-dolor-sit-amet/">Lorem Ipsum Dolor Sit Amet</a>
                        </li>
                    </ul>
                </section><section id="recent-comments-2" class="widget clearfix widget_recent_comments"><h3 class="title">Recent Comments</h3><ul id="recentcomments"><li class="recentcomments"><a href="http://realhomes.inspirythemes.com" rel="external nofollow" class="url">Lolyd Budd</a> on <a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/#comment-6">Lorem Post With Image Format</a></li><li class="recentcomments"><a href="http://realhomes.inspirythemes.com" rel="external nofollow" class="url">Alex Shiels</a> on <a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/#comment-5">Lorem Post With Image Format</a></li><li class="recentcomments"><a href="http://realhomes.inspirythemes.com" rel="external nofollow" class="url">John Doe</a> on <a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/#comment-4">Lorem Post With Image Format</a></li><li class="recentcomments"><a href="http://realhomes.inspirythemes.com" rel="external nofollow" class="url">Alex Shiels</a> on <a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/#comment-3">Lorem Post With Image Format</a></li><li class="recentcomments"><a href="http://realhomes.inspirythemes.com" rel="external nofollow" class="url">Lloyd Budd</a> on <a href="http://inspirythemesdemo.com/realhomes/lorem-post-with-image-format/#comment-2">Lorem Post With Image Format</a></li></ul></section>
            </aside><!-- End Sidebar -->

        </div>
    </div><!-- End contents row -->

</div>