.label-value {

    font-size:36px;
    color:rgb(255,255,255);


}


.getinvoloved{
    font-size:42px;
    color:cadetblue;
   font-weight:bold;
   margin-left:97px;
}

.gethead{
    font-size:19px;
    color:steelblue;
   font-weight:bold;
   margin-left:97px;
}

.getincontent {
    margin-left:96px;
    margin-right:690px;
    color:grey;
}



.circleBase {
    border-radius: 100%;
   
}

.type3 {
    width: 250px;
    height: 111px;
    background: antiquewhite;
    border: 6px solid blue;
     box-shadow: 10px 10px 5px #888888;
}
.elipse {

    margin-top:65px
}
.elipsecontent {
    margin:0 0 10px;
   margin-left:51px;
    margin-top:39px;
    font-size:18px;
    color:darkblue;
   font-weight:bold;
   
}


.strarticle
{

    margin-left:106px;
    margin-right:534px;
}
