
<!-- Sidebar -->
<aside class="sidebar">
    @Html.Partial("_searchStudent")

    <section id="property_types_widget-2" class="widget Property_Types_Widget">
        @Html.Partial("_likebox")
    </section>
    @Html.Partial("_featured")
</aside>
<!-- End Sidebar -->