<div class="span6">
    <article class="property-item clearfix">
        <h4><a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a></h4>

        <figure>
            <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" title="15421 Southwest 39th Terrace">
                <img width="244" height="163" src="http://alt-realhomes.inspirythemes.com/wp-content/uploads/2013/08/property-10-244x163.jpg" class="attachment-property-thumb-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
            </a>
            <figcaption class="cap">
                For Rent
            </figcaption>
        </figure>

        <div class="detail">
            
            <h5 class="price">
                $3,850 Per Month<small> - Villa</small>
            </h5>
            
            @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>*@
            <a class="more-details" href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/">More Details <i class="fa fa-caret-right"></i></a>
        </div>

        <div class="property-meta">
            <span><i class="icon-area"></i>2800&nbsp;Sq Ft</span><span><i class="icon-bed"></i>2&nbsp;Bedrooms</span><span><i class="icon-bath"></i>3&nbsp;Bathrooms</span><span><i class="icon-garage"></i>2&nbsp;Garages</span>
        </div>
    </article>
</div>
