<div class="container contents lisitng-grid-layout">
    <div class="row">
         <!-- End span9 -->
        @*@Html.Partial("_Card")*@
        @Html.Action("Query")
        <div class="span3 sidebar-wrap">

            @*@Html.Partial("_aside")*@

        </div>
    </div><!-- End contents row -->
</div>