<section id="featured_properties_widget-2" class="widget Featured_Properties_Widget">
    <h3 class="title">Featured Children</h3>
    <ul class="featured-properties">
        <li>
            <figure>
                <a href="#">
                    <img width="235" height="200" src="http://deedaday.in/img/upload/students/popthumb/7d46cd59c7833d86e5dd3f76430d3189.jpg" class="attachment-grid-view-image wp-post-image">
                </a>
            </figure>
            <h4><a href="#">Name of the Child</a></h4>
            <p>Description about the child <a href="#">  ...Read More</a></p>
            <span class="price">(Amount needed) </span>
        </li>
        <li>
            <figure>
                <a href="#">
                    <img width="237" height="156" src="http://deedaday.in/img/upload/students/popthumb/e5a52affba1da73606d23d304192c4bb.jpg">
                </a>
            </figure>
            <h4><a href="#">Name of the Child</a></h4>
            <p>Description about the child <a href="#">  ...Read More</a></p>
            <span class="price">(Amount needed) </span>
        </li>
    </ul>
</section>