
         
@{
    ViewBag.Title = "_Grid";
}

<h2>_Grid</h2>

<link href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/css/._style.css" rel="stylesheet" />
@*<a href="~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css">~/Content/__MACOSX/SeamlessResponsivePhotoGrid/._css</a>*@









<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button id="d" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

        </div>
        <div class="modal-body">
            <section id="photos">
                <img src="~/Content/images/slide-1-layer-1.png" />
                <img src="~/Content/images/slide-1-layer-1.png" />
                <img src="~/Content/images/slide-1-layer-1.png" />
            </section>
</div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->



<script type="text/javascript">

    (function (e) {
        $("#d").click(function () {

            window.location = '/media/videos'
        });

    });

</script>




