@model IList<Deed.Web.ViewModels.CardViewModel>
<div class="span9 main-wrap">
<!-- Main Content -->
<div class="main">

    <section class="listing-layout ">


        <div class="list-container clearfix">
            <div class="span9 ">

                <div id="gallery-container">
                    <div class="gallery-4-columns isotope clearfix">
                        <div class="post-93 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-rent ">
                            <figure>
                                <div class="media_container" style="display: block; opacity: 1;">
                                    <a class="swipebox zoom" href="#" style="margin-top: -16px; left: 89.5px;"></a>
                                    <a class="link" href="#" style="margin-top: -16px; right: 89.5px;"></a>
                                </div>
                                <img class="img-border" src="http://deedaday.in/img/upload/students/popthumb/7d46cd59c7833d86e5dd3f76430d3189.jpg">
                            </figure>

                        </div>
                        <div class="post-79 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale ">
                            <figure>
                                <div class="media_container" style="display: none;">
                                    <a class="swipebox zoom" href="#" style="margin-top: -16px; left: 0px;"></a>
                                    <a class="link" href="#" style="margin-top: -16px; right: 0px;"></a>
                                </div>
                                <img class="img-border" src="http://deedaday.in/img/upload/students/popthumb/e5a52affba1da73606d23d304192c4bb.jpg" alt="700 Front Street, Key West, FL">
                            </figure>

                        </div>
                        <div class="post-77 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale ">
                            <figure>
                                <div class="media_container" style="display: none;">
                                    <a class="swipebox zoom" href="#" style="margin-top: -16px; left: 0px;"></a>
                                    <a class="link" href="#" style="margin-top: -16px; right: 0px;"></a>
                                </div>
                                <img class="img-border" src="http://deedaday.in/img/upload/students/popthumb/7d46cd59c7833d86e5dd3f76430d3189.jpg" alt="1903 Hollywood Boulevard">
                            </figure>

                        </div>

                        <div class="post-56 property type-property status-publish has-post-thumbnail hentry gallery-item isotope-item for-sale ">
                            <figure>
                                <div class="media_container" style="display: none; opacity: 1;">
                                    <a class="swipebox zoom" href="#" style="margin-top: -16px; left: 0px;"></a>
                                    <a class="link" href="#" style="margin-top: -16px; right: 0px;"></a>
                                </div>
                                <img class="img-border" src="http://deedaday.in/img/upload/students/popthumb/e5a52affba1da73606d23d304192c4bb.jpg" alt="Florida 5, Pinecrest, FL">
                            </figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>

</div><!-- End Main Content -->
        </div>
