<div class="page-head page-edit" style="background-repeat: no-repeat; background-position: center top; background-image: url('http://dummyimage.com/1365x181/d9c5d9/fff.jpg&text=+++++++++++++++++++++++++++Image+to+be+displayed+on+every+page+expect+home+page.'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Heading</span></h1>
            <p>Sub-heading...........</p>
        </div>
    </div>
</div>




