<section class="widget advance-search">
    <h4 class="title search-heading">Student Search <i class="fa fa-search"></i></h4><div class="as-form-wrap">
        <form class="advance-search-form clearfix" action="http://deedaday.com/student-search/" method="get">
            <div class="option-bar large">
                <input type="text" name="student-name" id="student" value="" placeholder="Enter Student Name">
                <input type="text" name="student-age" id="student" value="" placeholder="Enter Student Age">
                <input type="text" name="student-gender" id="student" value="" placeholder="Enter Student Gender">
                <input type="text" name="district" id="student" value="" placeholder="Enter Student District">
            </div>

            <div class="option-bar">
                <input type="submit" value="Search" class=" real-btn btn">
            </div>
        </form>
    </div>
</section>