<div id="home-flexslider" class="clearfix">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="desc-wrap">
                    <div class="slide-description">
                        <h3><a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/">15421 Southwest 39th Terrace</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut&hellip;</p>
                        <span>$3,850 Per Month</span>
                        <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/" class="know-more">Know More</a>
                    </div>
                </div>
                <a href="http://alt-realhomes.inspirythemes.com/property/15421-southwest-39th-terrace/"><img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide11.jpg" alt="15421 Southwest 39th Terrace"></a>
            </li>
            <li>
                <div class="desc-wrap">
                    <div class="slide-description">
                        <h3><a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/">1200 Anastasia Avenue, Coral Gables</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut&hellip;</p>
                        <span>$625,000 </span>
                        <a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/" class="know-more">Know More</a>
                    </div>
                </div>
                <a href="http://alt-realhomes.inspirythemes.com/property/1200-anastasia-avenue-coral-gables/"><img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide22.jpg" alt="1200 Anastasia Avenue, Coral Gables"></a>
            </li>
            <li>
                <div class="desc-wrap">
                    <div class="slide-description">
                        <h3><a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/">Florida 5, Pinecrest, FL</a></h3>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim&hellip;</p>
                        <span>$480,000 </span>
                        <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/" class="know-more">Know More</a>
                    </div>
                </div>
                <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/"><img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide33.jpg" alt="Florida 5, Pinecrest, FL"></a>
            </li>
            <li>
                <div class="desc-wrap">
                    <div class="slide-description">
                        <h3><a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/">Florida 5, Pinecrest, FL</a></h3>
                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim&hellip;</p>
                        <span>$480,000 </span>
                        <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/" class="know-more">Know More</a>
                    </div>
                </div>
                <a href="http://alt-realhomes.inspirythemes.com/property/florida-5-pinecrest-fl/"><img src="http://deedaday.co.uk/wp-content/uploads/2014/05/slide44.jpg" alt="Florida 5, Pinecrest, FL"></a>
            </li>
        </ul>
    </div>
</div>



