<div class="span4 sidebar-wrap">
    <aside class="sidebar">
        @*<section id="search-3" class="widget widget_search">
                <form role="search" method="get" id="searchform" class="searchform" action="#">
                    <div>
                        <label class="screen-reader-text" for="s">Search for:</label>
                        <input type="text" value="" name="s" id="s">
                        <input type="submit" id="searchsubmit" value="Search">
                    </div>
                </form>
            </section>*@
        <section class="widget advance-search">
            <h4 class="title search-heading">How It Works<i class="fa fa-coffee"></i></h4><div class="as-form-wrap">
                <figure>
                    <img src="http://dummyimage.com/367x800/ded7de/8e8f91&text=$1+X+365+Days+Adds+upto+$365+a+year">
                </figure>
            </div>
        </section>
    </aside>
</div>