<div class="page-head" style="background-repeat: no-repeat; background-position: center top; background-image: url('/Content/images/Dscool4.jpg'); background-size: cover; ">
    <div class="container">
        <div class="wrap clearfix">
            <h1 class="page-title"><span>Contact Us</span></h1>
            <p></p>
        </div>
    </div>
</div>

<div class="container contents contact-page">
    <div class="row">
        <div class="span9 main-wrap">
            <!-- Main Content -->
            <div class="main">

                <div class="inner-wrapper">
                    <article id="post-131" class="post-131 page type-page status-publish hentry clearfix"></article>
                    <div id="map_canvas" style="width: 800px; height :347px; margin-left:29px;margin-top:36px;"></div>
                    <section class="contact-details clearfix">
                        <h3>Contact Details</h3><address>The Kalgidhar Trust &amp; Society F-3, Rajouri Garden<br> New Delhi-110027</address>                                    <ul class="contacts-list">
                            <li class="phone"> Phone: +91-11-42434243</li>
                            <li class="mobile"> Mobile: +91 9811108329 / 9810092292</li>
                            <li class="email"> Email: info@deedaday.in</li>
                        </ul>
                    </section>
                    <section id="contact-form">
                        <h3 class="form-heading">Send us a message</h3>
                        <form class="contact-form" method="post" action="http://alt-realhomes.inspirythemes.com/wp-admin/admin-ajax.php" novalidate="novalidate">
                            <p>
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="required" title="* Please provide your name">
                            </p>

                            <p>
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" class="email required" title="* Please provide a valid email address">
                            </p>

                            <p>
                                <label for="subject">Subject</label>
                                <input type="text" name="subject" id="subject">
                            </p>

                            <p>
                                <label for="comment">Message</label>
                                <textarea name="message" id="comment" class="required" title="* Please provide your message"></textarea>
                            </p>

                            <p>
                            <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LftkOsSAAAAAKpqpFkStQ1gCMciwAng4jmYKDVY"></script>
                            <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha.js"></script></p><div id="recaptcha_widget_div" class=" recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio"><div id="recaptcha_area"><table id="recaptcha_table" class="recaptchatable recaptcha_theme_red"> <tbody><tr> <td colspan="6" class="recaptcha_r1_c1"></td> </tr> <tr> <td class="recaptcha_r2_c1"></td> <td colspan="4" class="recaptcha_image_cell"><center><div id="recaptcha_image" style="width: 300px; height: 57px;"><img id="recaptcha_challenge_image" alt="reCAPTCHA challenge image" height="57" width="300" src="http://www.google.com/recaptcha/api/image?c=03AHJ_VuuglMjivEAAsBim6GzxpNHWLXCZesP5-LK9PDhzVSqHAkBLy60WG-KgNWp3IZpL9UHZtJaU2nt5PBWXl_IZ7Vu_X3byBsCWG5j1HZBB5lYGIsGfECu9U_Mqn1kBwlRJyjMTZgw4MT5ZG9DEMRwBhEofo9faM_dxzNN3HRlXJZh2WeLScUsrwNRl9qk0lcicQybd8UQSv0EJkdKyrBloVzLlvhpZcg&amp;th=,8bD_pvBAe042ZbaTno9hYPV0yPAAAAAjoAAAAAbYAMmMTymuR6gW4KGrjsz4ji-NWhx0Hvr5uyzaiF8wD85GB_6NwNgZrcyo7otbkPqAri-0OZGt8g0fvBRJwV18rqumE__bmG8hGx9FOERXzT0L5j-19-6yZJC2BZ6i-8IuvGw_xEQ6CNga52oYT66smutS4A9evqsSoj3yT7QF21HabNhpTNWEc2Q9---KclA2LZ3g2-ogGXyTjqa_U55QQX1XlPQCP82fd__w2uM-htVopO--qGUKkEu__4yrYhGBFsc7Or3fXvNCcxM"></div></center></td> <td class="recaptcha_r2_c2"></td> </tr> <tr> <td rowspan="6" class="recaptcha_r3_c1"></td> <td colspan="4" class="recaptcha_r3_c2"></td> <td rowspan="6" class="recaptcha_r3_c3"></td> </tr> <tr> <td rowspan="3" class="recaptcha_r4_c1" height="49"> <div class="recaptcha_input_area"> <span id="recaptcha_challenge_field_holder" style="display: none;"><input type="hidden" name="recaptcha_challenge_field" id="recaptcha_challenge_field" value="03AHJ_VuuglMjivEAAsBim6GzxpNHWLXCZesP5-LK9PDhzVSqHAkBLy60WG-KgNWp3IZpL9UHZtJaU2nt5PBWXl_IZ7Vu_X3byBsCWG5j1HZBB5lYGIsGfECu9U_Mqn1kBwlRJyjMTZgw4MT5ZG9DEMRwBhEofo9faM_dxzNN3HRlXJZh2WeLScUsrwNRl9qk0lcicQybd8UQSv0EJkdKyrBloVzLlvhpZcg"></span><input name="recaptcha_response_field" id="recaptcha_response_field" type="text" autocorrect="off" autocapitalize="off" placeholder="Type the text" autocomplete="off"> <span id="recaptcha_privacy" class="recaptcha_only_if_privacy"><a href="http://www.google.com/intl/en/policies/" target="_blank">Privacy &amp; Terms</a></span> </div> </td> <td rowspan="4" class="recaptcha_r4_c2"></td> <td><a id="recaptcha_reload_btn" title="Get a new challenge"><img id="recaptcha_reload" width="25" height="17" src="http://www.google.com/recaptcha/api/img/red/refresh.gif" alt="Get a new challenge"></a></td> <td rowspan="4" class="recaptcha_r4_c4"></td> </tr> <tr> <td><a id="recaptcha_switch_audio_btn" class="recaptcha_only_if_image" title="Get an audio challenge"><img id="recaptcha_switch_audio" width="25" height="16" alt="Get an audio challenge" src="http://www.google.com/recaptcha/api/img/red/audio.gif"></a><a id="recaptcha_switch_img_btn" class="recaptcha_only_if_audio" title="Get a visual challenge"><img id="recaptcha_switch_img" width="25" height="16" alt="Get a visual challenge" src="http://www.google.com/recaptcha/api/img/red/text.gif"></a></td> </tr> <tr> <td><a id="recaptcha_whatsthis_btn" title="Help"><img id="recaptcha_whatsthis" width="25" height="16" src="http://www.google.com/recaptcha/api/img/red/help.gif" alt="Help"></a></td> </tr> <tr> <td class="recaptcha_r7_c1"></td> <td class="recaptcha_r8_c1"></td> </tr> </tbody></table> </div></div>

                            <noscript>
                                &lt;iframe src="http://www.google.com/recaptcha/api/noscript?k=6LftkOsSAAAAAKpqpFkStQ1gCMciwAng4jmYKDVY" height="300" width="500" frameborder="0"&gt;&lt;/iframe&gt;&lt;br/&gt;
                                &lt;textarea name="recaptcha_challenge_field" rows="3" cols="40"&gt;&lt;/textarea&gt;
                                &lt;input type="hidden" name="recaptcha_response_field" value="manual_challenge"/&gt;
                            </noscript><p></p>
                            <p>
                                <input type="submit" value="Send Message" id="submit" class="real-btn" name="submit">
                                <img src="http://alt-realhomes.inspirythemes.com/wp-content/themes/realhomes/images/ajax-loader.gif" id="contact-loader" alt="Loading...">
                                <input type="hidden" name="action" value="send_message">
                                <input type="hidden" name="target" value="robot@inspirythemes.com">
                            </p>
                            <div class="error-container"></div>
                            <div id="message-sent">&nbsp;</div>
                        </form>
                    </section>

                </div>

            </div><!-- End Main Content -->
        </div><!-- End span9 -->

        </div>
    </div><!-- End contents row -->




